$baseColor:#fff85e;
$baseTextColor:#7c5702;
[data-page="home"]{
  #youHave{
    width:100%;
    background-color: $baseColor;
    padding: 2% 0%;
    color:$baseTextColor;
    background-image:url(../res/monacoin.png);
    background-repeat:no-repeat;
    background-position:bottom right;
    .label{
      color: #7b7442;
    }
    #balanceWrap{
      margin:5% 0;
      text-align: center;
      #balance{
        font-size:3em;
      }
      #unit{
        font-size: 1.1em;
      }
    }
  }
}
[data-page="receive"]{
  text-align:center;
  #simple{
    .label{
      margin:10px;
      color: #888;
    }
    #qrArea{
      
      #qrcode{
        width: 250px;
        height: 250px;
        background-color:#aaa;
        display:inline-block;
        margin:10px;
        img{
          width:100%;
          height:100%;
        }
      }
      .address{
        display: block;
        user-select:text;
        -webkit-user-select: text;
        -moz-user-select: text;
        -ms-user-select: text;
      }
    }
  }
}

$iconSize:100px;
[data-page="first"]{
  .wrap{
    width:100%;
    height:100%;
    background-color:$baseColor;
    .logo{
      position: absolute;
      top:30%;
      width:100%;
      text-align:center;
      .icon{
        display: inline-block;
        background-image:url(../res/monacoin.png);
        background-position:center center;
        background-repeat:no-repeat;
        background-size:contain;
        width:$iconSize;
        height:$iconSize;
      }
      .appName{
        font-size:2em;
        color: $baseTextColor;
      }
      .label{
        color:$baseTextColor;
        opacity:0.5;
      }
    }

    .buttons{
      margin:80px auto;
      width:60%;
      ons-button{
        margin:10px 0;
        width:100%;
      }
    }
    
  }
}

[data-page="question"]{
  .questionItem{
    text-align:center;
    padding:5%;
    .questionText{
      padding:10%;
      border-radius:8px;
      border:1px solid $baseTextColor;
      color:$baseTextColor;
      background-color:white;
    }
    .answers{
      .answer{
        border-radius:6px;
        background-color:$baseColor;
        color:$baseTextColor;
        margin:10px 0;
        padding:10px;
      }
    }
  }
}
[data-page="generateKeyWarn"]{
  .wrap{
    padding:10px;
    .check{
      padding:12px;
      input{
        font-size:1.5em;
      }
    }
  }
}
[data-page="generateKey"]{
  .touchArea{
    height:50%;
    background:#50aba0;
    color:white;
    font-size:2em;
    text-align:center;
    padding:30% 10%
  }
}

[data-page="send"]{
  ons-list-item ons-input{
    width:100%;
    display:block;
  }
}
[data-page="send"]{
  .wrap{
    
  }
}
[data-page="finished"]{
  img.succeeded{
    max-width:500px;
    width:100%;
    margin:50px 0;
  }
  .wrap{
    padding:40px;
    text-align:center;
  }
}
$passwordHeight:35px;
[data-page="login"]{
  .wrap{
    padding:40px;
    text-align:center;
    .passwordBox{
      line-height: $passwordHeight;
      font-size:$passwordHeight;
      display:grid;
      grid-template-columns: 1fr $passwordHeight;
      background:white;
      border-radius:8px;
      padding:5px;
      margin:50px 5px;
      input{
        font-size:$passwordHeight;
        background: transparent;
        border: none;
      }
      ons-button{
        line-height: $passwordHeight;
      }
      &.incorrect{
        animation: shake 0.72s cubic-bezier(.36,.07,.19,.97) both;
        transform: translate3d(0, 0, 0);
      }
    }
  }
}
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
