$baseColor:#ffeb47;
$baseTextColor:#7c5702;
$currencySelectorHeight:50px;
$qrCurIconPercent:20%;
$homeCurIconSize:38px;
$homeExtIconSize:32px;
$spinnerSize:90px;
$homeBgImg:url(../res/monacoin.png);
$firstIconSize:100px;
$firstIconImg:url(../res/monya_icon_round_512.png);
$spinnerImg:url(../res/spinner.png);
$disableMonaparty:false;
$disableMonappy:false;
$disableZaif:false;
$disableAtomicSwap:false;
