chrome_extension/dist/
node_modules
#*#
*~
npm-debug.log*
.DS_Store
cordovaProj/www/dist
docs/wallet/dist
!.circleci
.*
component/ja
component/en
cordovaProj/node_modules
cordovaProj/platforms
cordovaProj/plugins
electron/node_modules
electron/dist
electron/src/dist/*chrome_extension/dist/
dist
!docs/a/dist