<v-ons-page data-page="atomicswap">
  <custom-bar title="Chain Switcher" menu="true">
    <v-ons-toolbar-button @click="save">
      <v-ons-icon icon="fa-download"></v-ons-icon>
    </v-ons-toolbar-button>
    <v-ons-toolbar-button @click="reset">
      <v-ons-icon icon="fa-eraser"></v-ons-icon>
    </v-ons-toolbar-button>
  </custom-bar>
  <div>
    <v-ons-list>
      <v-ons-list-header>Please choose the coin to send</v-ons-list-header>
      <v-ons-list-item>
        <div class="center">coin to send</div>
        <div class="right">
          <v-ons-select v-model="giveCoinId"  @change="getRefundLabels">
            <option v-for="l in coins" :value="l.coinId">{{l.name}}</option>
          </v-ons-select>
        </div>
      </v-ons-list-item>
      <v-ons-list-item>
        <div class="center">Refund address in case of failure</div>
        <div class="right">
          <v-ons-select v-model="refundAddrIndex" @change="getPubKey">
            <option v-for="(l,i) in refundLabels" :value="i">{{l}}</option>
          </v-ons-select>
        </div>
      </v-ons-list-item>
      <v-ons-list-item v-show="giveCoinCPAvailable">
        <div class="center">CounterpartyToken : Allow transmission</div>
        <div class="right">
          <v-ons-switch v-model="giveCoinIsCP"></v-ons-switch>
        </div>
      </v-ons-list-item>
      <v-ons-list-header>Please choose coin to receive and its address</v-ons-list-header>
      <v-ons-list-item>
        <div class="center">Coin to receive</div>
        <div class="right">
          <v-ons-select v-model="getCoinId" @change="getLabels">
            <option v-for="l in coins" :value="l.coinId">{{l.name}}</option>
          </v-ons-select>
        </div>
      </v-ons-list-item>
      <v-ons-list-item>
        <div class="center">Deposit address label</div>
        <div class="right">
          <v-ons-select v-model="addrIndex" @change="getPubKey">
            <option v-for="(l,i) in labels" :value="i">{{l}}</option>
          </v-ons-select>
        </div>
      </v-ons-list-item>
      <v-ons-list-item v-show="getCoinCPAvailable">
        <div class="center">CounterpartyToken: Allow reception</div>
        <div class="right">
          <v-ons-switch v-model="getCoinIsCP"></v-ons-switch>
        </div>
      </v-ons-list-item>
      <v-ons-list-item v-show="!csvAvailable"><div class="right">For this currency pair you will not be able to refund. Please trade with your own risk.</div></v-ons-list-item>
      <v-ons-list-item>
        <v-ons-button modifier="large" @click="getPubKey" :disabled="!labels.length||!giveCoinId||!getCoinId">Get Address</v-ons-button>
      </v-ons-list-item>
      <v-ons-list-header>If you want to switch chain, you need to set the secret</v-ons-list-header>
      <v-ons-list-item>
        <div class="center"><v-ons-input v-model="secret" placeholder="secret" @change="generateHash"></v-ons-input></div>
        <div class="right" v-show="secretSize>32">Too long!</div>
      </v-ons-list-item>
      <v-ons-list-header>Share data below.</v-ons-list-header>
      <v-ons-list-item>
        <v-ons-input v-model="secretHash" placeholder="secretHash"></v-ons-input>
      </v-ons-list-item>
      <v-ons-list-item>
        <v-ons-input v-model="secretSize" placeholder="secretSize" type="number"></v-ons-input>
      </v-ons-list-item>
      <v-ons-list-item>
        <v-ons-input v-model="redeemAddressWithSecret" placeholder="Withdrawal address with the secret"></v-ons-input>
      </v-ons-list-item>
      <v-ons-list-item>
        <v-ons-input v-model="refundAddressWithSecret" placeholder="Refund address with the secret"></v-ons-input>
      </v-ons-list-item>
      <v-ons-list-item>
        <v-ons-input v-model="redeemAddressWOSecret" placeholder="Withdrawal address without the secret"></v-ons-input>
      </v-ons-list-item>
      <v-ons-list-item>
        <v-ons-input v-model="refundAddressWOSecret" placeholder="Refund address without the secret"></v-ons-input>
      </v-ons-list-item>
      <v-ons-list-item>
        <v-ons-input v-model="lockTime" placeholder="Lock Time" type="number"></v-ons-input>
      </v-ons-list-item>
      <v-ons-list-item>
        <v-ons-button modifier="large" @click="generateP2SH" :disabled="!(secretSize&&secretHash&&refundAddressWithSecret&&redeemAddressWOSecret&&lockTime)">Get Address</v-ons-button>
      </v-ons-list-item>
      <v-ons-list-header> {{giveCoinId}} Deposit address</v-ons-list-header>
      <v-ons-list-item>
        <v-ons-input :value="myP2SH&&myP2SH.address" placeholder="myP2SH"></v-ons-input>
      </v-ons-list-item>
      <v-ons-list-header>The partner deposits the coin at the following address</v-ons-list-header>
      <v-ons-list-item>
        <v-ons-input :value="opponentP2SH&&opponentP2SH.address" placeholder="opponentP2SH"></v-ons-input>
      </v-ons-list-item>
      <v-ons-list-header>Withdraw funds</v-ons-list-header>
      <v-ons-list-item>
      <v-ons-segment :index.sync="isRefund" v-show="csvAvailable">
          <button>withdraw</button>
          <button>refund</button>
      </v-ons-segment>
      <div v-show="!csvAvailable">You can only withdraw</div>
      </v-ons-list-item>
      <div v-show="(getCoinIsCP&&!isRefund)||(giveCoinIsCP&&isRefund)">
        <v-ons-list-item>
          <div class="center">Token name (official name)</div>
          <div class="right">
            <v-ons-input v-model="cpToken" placeholder="Counterparty Token"></v-ons-input>
          </div>
        </v-ons-list-item>
        <v-ons-list-item>
          <div class="center">Can this token be divided by the decimal point?</div>
          <div class="right">
            <v-ons-switch v-model="cpDivisible"></v-ons-switch>
          </div>
        </v-ons-list-item>
        <v-ons-list-item>
          <div class="center">amount</div>
          <div class="right">
            <v-ons-input v-model="cpAmount" placeholder="amount" type="number"></v-ons-input>
          </div>
      </v-ons-list-item>
      </div>
      <v-ons-list-item>
        <v-ons-input v-model="secret" placeholder="Secret"></v-ons-input>
      </v-ons-list-item>
      <v-ons-list-item v-show="!(getCoinIsCP&&!isRefund)||(giveCoinIsCP&&isRefund)">
        <v-ons-input v-model="fee" placeholder="fee(satoshi)" type="number"></v-ons-input>
      </v-ons-list-item>
      <v-ons-list-item v-show="(getCoinIsCP&&!isRefund)||(giveCoinIsCP&&isRefund)">
        <v-ons-input v-model="fee" placeholder="fee(Satoshi/Byte)" type="number"></v-ons-input>
      </v-ons-list-item>
      <v-ons-list-item>
        <v-ons-input v-model="password" placeholder="Password" type="password"></v-ons-input>
      </v-ons-list-item>
      <v-ons-list-item v-show="!isRefund">
        <v-ons-button modifier="large" @click="signTx">Let's go.</v-ons-button>
      </v-ons-list-item>
      <v-ons-list-item v-show="isRefund">
        <v-ons-button modifier="large" @click="signRefundTx">refund</v-ons-button>
      </v-ons-list-item>
      <v-ons-list-item>
        <textarea class="textarea--transparent" :value="signedTx"></textarea>
      </v-ons-list-item>

    </v-ons-list>
    
  </div>
</v-ons-page>
