<v-ons-page data-page="generateKey">
  <custom-bar title="Creating the secret key">
    <v-ons-toolbar-button @click="skip">Skip</v-ons-toolbar-button>
  </custom-bar>
  <div class="touchArea" ref="touchArea">
    <p v-show="cnt<wordCount">
      Swipe or drag here to improve security. <br>
      <small v-show="sensorAvailable">Or shake your device</small><br/>
      {{cnt}}<small>/{{wordCount}}</small>
    </p>
    <p v-show="cnt>=wordCount">Calculating...<br><small>This operation may take a few minutes</small></p> 
    <v-ons-progress-bar :value="cnt/wordCount*100"></v-ons-progress-bar>
  </div>
</v-ons-page>
