<v-ons-page data-page="login">
  <div class="wrap">
    <p></p>
    <div :class="{passwordBox:true,shake:incorrect}">
      <input name="" :type="showPassword?'text':'password'" @input="password=$event.target.value" id="password" @change="start" :disabled="loading"/>
      <v-ons-button modifier="quiet"><v-ons-icon :icon="showPassword?'eye-slash':'eye'" @click="showPassword=!showPassword" :disabled="loading"></v-ons-icon></v-ons-button>
    </div>
    <v-ons-button modifier="large" @click="start" :disabled="loading"></v-ons-button>
    <div class="spinner" v-show="loading"></div>
  </div>
</v-ons-page>
