<v-ons-page data-page="nem">
  <custom-bar title="NEM" menu="true">
    <v-ons-toolbar-button @click="getBalance">
      <v-ons-icon icon="ion-ios-loop-strong"></v-ons-icon>
    </v-ons-toolbar-button>
  </custom-bar>
  <div>
    <div v-show="requirePassword" class="wrap">
      <p>Please enter the password.</p>
      <div :class="{shake:incorrect}" class="passwordBox">
        <input :disabled="loading" type="password" v-model="password" @keydown.enter="decrypt"/>
      </div>
      <v-ons-button modifier="large" @click="decrypt" :disabled="loading">Start</v-ons-button>
    </div>
    <div v-show="address">
      <div id="simple">
        <div id="qrArea">
          <div id="qrcode">
            <img :src="qrDataUrl" alt="No Address" id="qrcodeImage"/>
          </div>
          <div class="address">{{address||"Loading"}}</div>
        </div>
        
        <v-ons-button @click="copyAddress" modifier="quiet">
          <v-ons-icon icon="fa-clipboard"></v-ons-icon>
          Copy address
        </v-ons-button>
        <v-ons-button @click="share" modifier="quiet" v-if="shareable">
          <v-ons-icon icon="fa-share-square-o"></v-ons-icon>Share
        </v-ons-button>
        
      </div>
      <v-ons-list>
        <v-ons-list-header>Invoice</v-ons-list-header>
        <v-ons-list-item>
          <div class="center">QR code type</div>
          <div class="right">
            <v-ons-select v-model="addressFormat">
              <option value="url">URLformat</option>
              <option value="monya">Monya compatible</option>
              <option value="nemWallet">NEM Wallet compatible</option>
            </v-ons-select>
          </div>
        </v-ons-list-item>
        <v-ons-list-item>
          <div class="center"><v-ons-input v-model="invAmt" placeholder="invoice amount" type="number"></v-ons-input></div>
          <div class="right" v-show="addressFormat!=='nemWallet'"><v-ons-input v-model="invMosaic" placeholder="Mosaic Name"></v-ons-input></div>
        </v-ons-list-item>
        
        <v-ons-list-header>balance</v-ons-list-header>
        <v-ons-list-item v-for="b in mosaics" @click="sendMosaic=b.mosaicId.namespaceId+':'+b.mosaicId.name">
          <div class="left">
            <img v-if="b.icon" :src="b.icon"/>
          </div>
          <div class="center">{{b.normalizedQty}}</div>
          <div class="right">{{b.mosaicId.namespaceId}}:{{b.mosaicId.name}}</div>
        </v-ons-list-item>
        <v-ons-list-header>Send</v-ons-list-header>
        <v-ons-list-item>
          <v-ons-input placeholder="send address" v-model="sendAddress"></v-ons-input>
        </v-ons-list-item>
        <v-ons-list-item>
          <div class="center">amount to send</div>
          <div class="right">
            <v-ons-input type="number" v-model="sendAmount"></v-ons-input>
          </div>
        </v-ons-list-item>
        <v-ons-list-item>
          <div class="center">Mosaic</div>
          <div class="right">
            <span v-show="sendMosaic">{{(sendMosaic==='ecobit:eco')?'Ecobit' :sendMosaic}}</span>
            <span v-show="!sendMosaic">Choose from above</span>
          </div>
        </v-ons-list-item>
        <v-ons-list-item v-show="sendMosaic==='nem:xem'">
          <div class="center">Legal currency conversion</div>
          <div class="right">
            <v-ons-input type="number" v-model="fiatConv"></v-ons-input>
          </div>
        </v-ons-list-item>
        <v-ons-list-item>
          <v-ons-input placeholder="Message" v-model="message"></v-ons-input>
        </v-ons-list-item>
        <v-ons-list-item>
          <v-ons-button @click="send" modifier="large" :disabled="!sendAddress||!sendAmount||!sendMosaic||!isValidAddress">{{(sendMosaic==='ecobit:eco')?'Mother Earth' : 'Send'}}</v-ons-button>
        </v-ons-list-item>
        <v-ons-list-header>History</v-ons-list-header>
        <v-ons-list-item v-for="h in history" @click="openExplorer(txHash)" modifier="chevron">
          
            <div class="left" v-if="h.recipient!==address">Send</div>
            <div class="left" v-if="h.recipient===address">Receive</div>
            <div class="center" v-if="h.message">{{h.message}}</div>
            <div class="center" v-if="!h.message">((no message))</div>
            <div class="right">
              <timestamp :timestamp="h.timeStamp"></timestamp>
            </div>
            
        </v-ons-list-item>
        <v-ons-list-header>unconfirmed</v-ons-list-header>
        <v-ons-list-item v-for="h in unconfirmed">
          
          <div class="left" v-if="h.recipient!==address">Send</div>
          <div class="left" v-if="h.recipient===address">Receive</div>
          <div class="center" v-if="h.message">{{h.message}}</div>
          <div class="center" v-if="!h.message">((no message))</div>
          
        </v-ons-list-item>
        
      </v-ons-list>
    </div>
  </div>
  <v-ons-modal :visible="loading">
    <p style="text-align: center">
      processing
      <br><br>
      <div class="spinner"></div>
      <br/>
    </p>
  </v-ons-modal>
  <v-ons-alert-dialog
    modifier="rowfooter"
    :visible.sync="confirm"
    >
    <span slot="title">Confirm</span>
    <p>{{sendAddress}}</p>
    <p>{{sendAmount}}</p>
    <p>Fee: {{transactionEntity.fee/1e6}}</p>
    <template slot="footer">
      <div class="alert-dialog-button" @click="broadcast">Send</div>
      <div class="alert-dialog-button" @click="confirm=false">Back</div>
    </template>
  </v-ons-alert-dialog>

  
</v-ons-page>
