<v-ons-page data-page="send" v-show="!$store.state.transparency">
  <custom-bar title="Send" menu="true">
    <v-ons-toolbar-button @click="qr">
      <v-ons-icon icon="ion-qr-scanner"></v-ons-icon>
    </v-ons-toolbar-button>
  </custom-bar>
  <div>
    <v-ons-list>
      <v-ons-list-item modifier="small" v-show="signature&&!verifyResult">
        Verification of signature failed
      </v-ons-list-item>
      <v-ons-list-item modifier="small" v-show="signature&&verifyResult">
        Successful verification of signature
      </v-ons-list-item>
      <v-ons-list-item modifier="small" v-show="messageToShow">
        <div class="center">{{messageToShow}}</div>
      </v-ons-list-item>
      <v-ons-list-header>send address</v-ons-list-header>
      <v-ons-list-item>
        <div class="center">
          <v-ons-input v-model="address" placeholder="send address"></v-ons-input>
        </div>
        <div class="right">
          <span v-show="label">{{label}}</span>
        </div>
      </v-ons-list-item>
      <v-ons-list-header>Coin type</v-ons-list-header>
      <v-ons-list-item v-for="co in possibility">
        <div class="left">
          <v-ons-radio
            :input-id="'coinType-'+co.coinId"
            :value="co.coinId" v-model="coinType"
            ></v-ons-radio></div>
        <label class="center" :for="'coinType-'+co.coinId">
          {{co.name}}
        </label>
        <div class="right">
          <currency-set :ticker="co.coinId"></currency-set>
        </div>
      </v-ons-list-item>
      <v-ons-list-item v-show="possibility.length<=0">
        <div class="left"></div>
        <label class="center">Please input payment destination address first</label>
      </v-ons-list-item>
      <v-ons-list-header>amount to send</v-ons-list-header>
      <v-ons-list-item>
        <div class="center">
          <v-ons-input v-model="amount" type="number" @input="calcFiat" placeholder="amount to send" :disabled="!address||!coinType"></v-ons-input>
        </div>
        <div class="right">
          <currency-set :ticker="coinType"></currency-set>
        </div>
      </v-ons-list-item>
      <v-ons-list-header>Legal currency conversion</v-ons-list-header>
      <v-ons-list-item>
        <div class="center">
          <v-ons-input v-model="fiat" type="number" @input="calcCur" placeholder="Japanese YEN" :disabled="!address||!coinType"></v-ons-input>
        </div>
        <div class="right">
          <currency-set :ticker="fiatTicker"></currency-set>
        </div>
      </v-ons-list-item>
      
      <v-ons-list-item><v-ons-button modifier="large" @click="confirm" :disabled="!address||!amount||!feePerByte">CHECK</v-ons-button></v-ons-list-item>
      
      <v-ons-list-item v-show="!(advanced||utxoStr||message||txLabel)" @click="advanced=true">
        <div class="left"><v-ons-icon icon="fa-caret-down"></v-ons-icon></div>
        <div class="center">Advanced options</div>
      </v-ons-list-item>
      
      <div v-show="advanced||utxoStr||message||txLabel">
        <v-ons-list-header>Description of the transaction (option)</v-ons-list-header>
        <v-ons-list-item>
          <div class="center">
            <v-ons-input v-model="txLabel" placeholder="You can check with the history."></v-ons-input>
          </div>
          <div class="right">
            <v-ons-icon icon="ion-ios-list-outline"></v-ons-icon>
          </div>
        </v-ons-list-item>
        <v-ons-list-header>sending fee(sat/Byte) Note that small fee will have the risk.</v-ons-list-header>
        <v-ons-list-item>
          <div class="center">
            <v-ons-input type="number" v-model="feePerByte" placeholder="sending fee(satoshi/Byte)" :disabled="!address||!coinType"></v-ons-input>
          </div>
          <div class="right">
            <currency-set ticker="satByte"></currency-set>
          </div>
        </v-ons-list-item>
        <div v-show="!cannotSendMessage">
          <v-ons-list-header>Send the message (option)</v-ons-list-header>
          <v-ons-list-item>
            <div class="center">
              <v-ons-input v-model="message" placeholder="40Byte is upper limit"></v-ons-input>
            </div>
            <div class="right">
              {{remainingBytes}}
            </div>
          </v-ons-list-item>
        </div>
         <v-ons-list-header>UTXO setting manually</v-ons-list-header>
        <v-ons-list-item>
          <div class="center">
            <v-ons-input v-model="utxoStr" placeholder="Confirmed format, check source code for details"></v-ons-input>
          </div>
        </v-ons-list-item>
      </div>
    </v-ons-list>
    
  </div>
</v-ons-page>
