<v-ons-page data-page="setPassword">
  <custom-bar title="Password setting"></custom-bar>
  <div class="wrap">
    <ul>
      <li>Please set up your password</li>
      <li>6characters or more</li>
      <li>The password is used to protect the secret key</li>
      <li>If your password is found by others, your coins may be stolen.</li>
    </ul>
    <v-ons-list>
      <v-ons-list-item v-show="error">Error occurred. Please try again.Error info::{{error}}</v-ons-list-item>
      <div v-show="change">
        <v-ons-list-header>Current password</v-ons-list-header>
        <v-ons-list-item><v-ons-input type="password" v-model="currentPassword" placeholder="Current password"></v-ons-input></v-ons-list-item>
      </div>
      <div v-show="passwordType==='password'">
        <v-ons-list-header>Password</v-ons-list-header>
        <v-ons-list-item>
          <v-ons-input placeholder="Password" v-model="password" type="password"></v-ons-input>
        </v-ons-list-item>
        <v-ons-list-item>
          <v-ons-input placeholder="Type again" v-model="password2" type="password"></v-ons-input>
        </v-ons-list-item>
        <v-ons-list-item v-show="biometricAvailable">
          <div class="left"><v-ons-icon icon="ion-qr-scanner"></v-ons-icon></div>
          <div class="center">Use fingerprint</div>
          <div class="right">
            <v-ons-switch v-model="biometric"></v-ons-switch>
          </div>
        </v-ons-list-item>
        <v-ons-list-item>
          <v-ons-button @click="next" modifier="large" :disabled="!password||password!==password2||password.length<6">NEXT</v-ons-button>
        </v-ons-list-item>
      </div>
      <div v-show="passwordType==='pin'">
        <v-ons-list>
          <v-ons-list-header>PINcode</v-ons-list-header>
          <v-ons-list>Coming soon...</v-ons-list>
        </v-ons-list>
      </div>
      
    </v-ons-list>
  </div>
</v-ons-page>
