<v-ons-page data-page="setPassword">
  <custom-bar title=""></custom-bar>
  <div class="wrap">
    <ul>
      <li></li>
      <li>6</li>
      <li></li>
      <li></li>
    </ul>
    <v-ons-list>
      <v-ons-list-item v-show="error">:{{error}}</v-ons-list-item>
      <div v-show="change">
        <v-ons-list-header></v-ons-list-header>
        <v-ons-list-item><v-ons-input type="password" v-model="currentPassword" placeholder=""></v-ons-input></v-ons-list-item>
      </div>
      <div v-show="passwordType==='password'">
        <v-ons-list-header></v-ons-list-header>
        <v-ons-list-item>
          <v-ons-input placeholder="" v-model="password" type="password"></v-ons-input>
        </v-ons-list-item>
        <v-ons-list-item>
          <v-ons-input placeholder="もう一度" v-model="password2" type="password"></v-ons-input>
        </v-ons-list-item>
        <v-ons-list-item v-show="biometricAvailable">
          <div class="left"><v-ons-icon icon="ion-qr-scanner"></v-ons-icon></div>
          <div class="center"></div>
          <div class="right">
            <v-ons-switch v-model="biometric"></v-ons-switch>
          </div>
        </v-ons-list-item>
        <v-ons-list-item>
          <v-ons-button @click="next" modifier="large" :disabled="!password||password!==password2||password.length<6"></v-ons-button>
        </v-ons-list-item>
      </div>
      <div v-show="passwordType==='pin'">
        <v-ons-list>
          <v-ons-list-header>PIN</v-ons-list-header>
          <v-ons-list>Coming soon...</v-ons-list>
        </v-ons-list>
      </div>
      
    </v-ons-list>
  </div>
</v-ons-page>
