<v-ons-page data-page="settings">
  <custom-bar title="Settings" menu="true"></custom-bar>
  <div>
    <v-ons-list>
      <v-ons-list-item modifier="tappable chevron" @click="goToSign"><div class="center">Sign and Verify</div></v-ons-list-item>
      <v-ons-list-item modifier="tappable chevron" @click="goToManageCoin"><div class="center">Coin management</div></v-ons-list-item>
      <v-ons-list-item modifier="tappable chevron" @click="goToShowPassphrase"><div class="center">Show passphrase</div></v-ons-list-item>
      <v-ons-list-item modifier="tappable chevron" @click="goToSetPassword"><div class="center">Change the password</div></v-ons-list-item>
      <v-ons-list-item modifier="tappable chevron" @click="goToEditOrder"><div class="center">Edit invoice list</div></v-ons-list-item>
      <v-ons-list-item modifier="tappable chevron" @click="goToSweep"><div class="center">Import from existing wallet</div></v-ons-list-item>
      <v-ons-list-item modifier="tappable chevron" @click="goToImportExport"><div class="center">Import / Export</div></v-ons-list-item>
      

      <v-ons-list-header>Asset </v-ons-list-header>
      <v-ons-list-item>
        <div class="center">Use waiting balance (processing may be delayed)</div>
        <div class="right">
          <v-ons-switch @change="save" v-model="d.includeUnconfirmedFunds"></v-ons-switch>
        </div>
      </v-ons-list-item>
      <v-ons-list-item>
        <div class="center">Legal currency</div>
        <div class="right">
          <v-ons-select v-model="d.fiat" @change="save">
            <option value="jpy">Japanese YEN</option>
            <option value="mona">MONA</option>
            <option value="usd">USD</option>
          </v-ons-select>
        </div>
      </v-ons-list-item>
      <v-ons-list-header>Display</v-ons-list-header>
      <v-ons-list-item>
        <div class="center">Display simple units</div>
        <div class="right">
          <v-ons-switch @change="save" v-model="d.useEasyUnit"></v-ons-switch>
        </div>
      </v-ons-list-item>
      <v-ons-list-item>
        <div class="center">Display timestamp of history by calendar</div>
        <div class="right">
          <v-ons-switch @change="save" v-model="d.absoluteTime"></v-ons-switch>
        </div>
      </v-ons-list-item>
      <v-ons-list-item>
        <div class="center">Payment sound</div>
        <div class="right">
          <v-ons-switch @change="save" v-model="d.paySound"></v-ons-switch>
        </div>
      </v-ons-list-item>
      <v-ons-list-item>
        <div class="center">Language</div>
        <div class="right">
          <v-ons-select v-model="lang" @change="changeLang">
            <option value="ja">Japanese</option>
            <option value="en">English</option>
          </v-ons-select>
        </div>
      </v-ons-list-item>
      <v-ons-list-header class="condZaif">Zaif Payment</v-ons-list-header>
      <v-ons-list-item class="condZaif"><div class="center">Zaif Payment menu</div>
        <div class="right">
          <v-ons-switch @change="save" v-model="d.zaifPay.enabled"></v-ons-switch>
        </div>
      </v-ons-list-item>
      <div v-show="d.zaifPay.enabled" class="condZaif">
      <v-ons-list-item><div class="center">API Key</div>
        <div class="right">
          <v-ons-input placeholder="Type here" @change="save" v-model="d.zaifPay.apiKey"></v-ons-input>
        </div>
      </v-ons-list-item>
      <v-ons-list-item><div class="center">Secret Key</div>
        <div class="right">
          <v-ons-input placeholder="Raw Secret Key" @change="save" v-model="d.zaifPay.secret"></v-ons-input>
        </div>
      </v-ons-list-item>
      </div>
      <v-ons-list-header class="condMonappy">Monappy</v-ons-list-header>
      <v-ons-list-item class="condMonappy">
        <div class="center">Monappy menu</div>
        <div class="right"><v-ons-switch v-model="d.monappy.enabled" @change="save"></v-ons-switch></div>
      </v-ons-list-item>
      <div v-show="d.monappy.enabled" class="condMonappy">
        <v-ons-list-item>
          <div class="center">Your Monappy ID</div>
          <div class="right"><span class="atmark">@</span><v-ons-input v-model="d.monappy.myUserId" placeholder="Monappy Id" @change="changeMonappy" @input="monappyNotExist=false" :class="{monappyNotExist:monappyNotExist}" modifier="underbar"></v-ons-input></div>
        </v-ons-list-item>
        
      </div>
      <v-ons-list-header class="condMonaparty">Card</v-ons-list-header>
      <v-ons-list-item class="condMonaparty">
        <div class="center">card menu</div>
        <div class="right"><v-ons-switch v-model="d.monaparty.enabled" @change="save"></v-ons-switch></div>
      </v-ons-list-item>
      <div v-show="d.monaparty.enabled" class="condMonaparty">
        <v-ons-list-item>
          <div class="center">wallpaper</div>
          <div class="right">
            <v-ons-select v-model="d.monaparty.bgClass" @change="save">
              <option value="sand">sand</option>
              <option value="realmona">Real Monacoin-chan</option>
              <option value="white">White</option>
              <option value="blue">Blue</option>
          </v-ons-select>
          </div>
        </v-ons-list-item>
      </div>
    </v-ons-list>
  </div>
</v-ons-page>
