<v-ons-page data-page="settings">
  <custom-bar title="" menu="true"></custom-bar>
  <div>
    <v-ons-list>
      <v-ons-list-item modifier="tappable chevron" @click="goToSign"><div class="center"></div></v-ons-list-item>
      <v-ons-list-item modifier="tappable chevron" @click="goToManageCoin"><div class="center"></div></v-ons-list-item>
      <v-ons-list-item modifier="tappable chevron" @click="goToShowPassphrase"><div class="center"></div></v-ons-list-item>
      <v-ons-list-item modifier="tappable chevron" @click="goToSetPassword"><div class="center"></div></v-ons-list-item>
      <v-ons-list-item modifier="tappable chevron" @click="goToEditOrder"><div class="center"></div></v-ons-list-item>
      <v-ons-list-item modifier="tappable chevron" @click="goToSweep"><div class="center"></div></v-ons-list-item>
      <v-ons-list-item modifier="tappable chevron" @click="goToImportExport"><div class="center">/</div></v-ons-list-item>
      

      <v-ons-list-header></v-ons-list-header>
      <v-ons-list-item>
        <div class="center">()</div>
        <div class="right">
          <v-ons-switch @change="save" v-model="d.includeUnconfirmedFunds"></v-ons-switch>
        </div>
      </v-ons-list-item>
      <v-ons-list-item>
        <div class="center"></div>
        <div class="right">
          <v-ons-select v-model="d.fiat" @change="save">
            <option value="jpy"></option>
            <option value="mona"></option>
            <option value="usd"></option>
          </v-ons-select>
        </div>
      </v-ons-list-item>
      <v-ons-list-header></v-ons-list-header>
      <v-ons-list-item>
        <div class="center"></div>
        <div class="right">
          <v-ons-switch @change="save" v-model="d.useEasyUnit"></v-ons-switch>
        </div>
      </v-ons-list-item>
      <v-ons-list-item>
        <div class="center"></div>
        <div class="right">
          <v-ons-switch @change="save" v-model="d.absoluteTime"></v-ons-switch>
        </div>
      </v-ons-list-item>
      <v-ons-list-item>
        <div class="center"></div>
        <div class="right">
          <v-ons-switch @change="save" v-model="d.paySound"></v-ons-switch>
        </div>
      </v-ons-list-item>
      <v-ons-list-item>
        <div class="center"></div>
        <div class="right">
          <v-ons-select v-model="lang" @change="changeLang">
            <option value="ja"></option>
            <!--<option value="en">English</option>-->
          </v-ons-select>
        </div>
      </v-ons-list-item>
      <v-ons-list-header class="condZaif">Zaif Payment</v-ons-list-header>
      <v-ons-list-item class="condZaif"><div class="center">Zaif Payment</div>
        <div class="right">
          <v-ons-switch @change="save" v-model="d.zaifPay.enabled"></v-ons-switch>
        </div>
      </v-ons-list-item>
      <div v-show="d.zaifPay.enabled" class="condZaif">
      <v-ons-list-item><div class="center">API Key</div>
        <div class="right">
          <v-ons-input placeholder="Type here" @change="save" v-model="d.zaifPay.apiKey"></v-ons-input>
        </div>
      </v-ons-list-item>
      <v-ons-list-item><div class="center">Secret Key</div>
        <div class="right">
          <v-ons-input placeholder="Raw Secret Key" @change="save" v-model="d.zaifPay.secret"></v-ons-input>
        </div>
      </v-ons-list-item>
      </div>
      <v-ons-list-header class="condMonappy">Monappy</v-ons-list-header>
      <v-ons-list-item class="condMonappy">
        <div class="center">Monappy</div>
        <div class="right"><v-ons-switch v-model="d.monappy.enabled" @change="save"></v-ons-switch></div>
      </v-ons-list-item>
      <div v-show="d.monappy.enabled" class="condMonappy">
        <v-ons-list-item>
          <div class="center">Monappy ID</div>
          <div class="right"><span class="atmark">@</span><v-ons-input v-model="d.monappy.myUserId" placeholder="Monappy Id" @change="changeMonappy" @input="monappyNotExist=false" :class="{monappyNotExist:monappyNotExist}" modifier="underbar"></v-ons-input></div>
        </v-ons-list-item>
        
      </div>
      <v-ons-list-header class="condMonaparty"></v-ons-list-header>
      <v-ons-list-item class="condMonaparty">
        <div class="center"></div>
        <div class="right"><v-ons-switch v-model="d.monaparty.enabled" @change="save"></v-ons-switch></div>
      </v-ons-list-item>
      <div v-show="d.monaparty.enabled" class="condMonaparty">
        <v-ons-list-item>
          <div class="center"></div>
          <div class="right">
            <v-ons-select v-model="d.monaparty.bgClass" @change="save">
              <option value="sand"></option>
              <option value="realmona"></option>
              <option value="white">:</option>
              <option value="blue">:</option>
          </v-ons-select>
          </div>
        </v-ons-list-item>
      </div>
    </v-ons-list>
  </div>
</v-ons-page>
