<v-ons-page data-page="showLabel">
  <custom-bar :title="label||hdPath" menu="true">
    <v-ons-toolbar-button @click="edit=true" v-if="label">
      <v-ons-icon icon="ion-edit"></v-ons-icon>
    </v-ons-toolbar-button>
  </custom-bar>
  <div>
    <div id="simple">
      <div class="label" v-show="!label"></div>
      <div id="qrArea">
        <div id="qrcode">
          <img :src="qrDataUrl" alt="QR code" id="qrcodeImage"/>
          <div id="currentCurIcon" :style="{'background-image':'url('+currentCurIcon+')'}"></div>
        </div>
        <div class="address">{{address}}</div>
      </div>
      <v-ons-button @click="copyAddress">
        <v-ons-icon icon="fa-clipboard"></v-ons-icon>
        
      </v-ons-button>
      <div v-if="isNative">
        <v-ons-button>
          <v-ons-icon icon="fa-share"></v-ons-icon>
        </v-ons-button>
      </div>
      <v-ons-list>
        <v-ons-list-item>
          <div class="center">HD Node Derivation Path</div>
          <div class="right">{{hdPath}}</div>
        </v-ons-list-item>
        <v-ons-list-item>
          <div class="center"></div>
          <div class="right">{{balance}}</div>
        </v-ons-list-item>
        <v-ons-list-item>
          <div class="center"></div>
          <div class="right"><v-ons-input :value="pubKey"></v-ons-input></div>
        </v-ons-list-item>
      </v-ons-list>
    </div>
  </div>
  <v-ons-alert-dialog modifier="rowfooter"
      :visible.sync="edit"
    >
      <span slot="title"></span>
      <p></p>
      <v-ons-input placeholder="" v-model="labelInput"></v-ons-input>
      <template slot="footer">
        <div class="alert-dialog-button" @click="edit = false"></div>
        <div class="alert-dialog-button" @click="update"></div>
      </template>
    </v-ons-alert-dialog>
</v-ons-page>
