<v-ons-page data-page="showPassphrase">
  <custom-bar title="Passphrase"></custom-bar>
  <div class="wrap">
    <ul>
      <li>Please write ENGLISH WORDS on the paper manually.</li>
      <li>Please must not copy the ENGLISH WORDS to screenshots or photo or something.</li>
      <li>If your ENGLISH WORDS is found by others, your coins may be stolen.</li>
      <li>Please use the checkbox as your own checking.</li>
    </ul>
    <v-ons-list>
      <v-ons-list-item v-for="(word,index) in words">
        <label class="left">
          {{index+1}}
        </label>
        <label class="center">{{word}}</label>
        <label class="right">
          <v-ons-checkbox></v-ons-checkbox>
        </label>
      </v-ons-list-item>
      <v-ons-list-item v-show="showNext">
        <v-ons-button @click="next" modifier="large" :disable="!words.length">NEXT</v-ons-button>
      </v-ons-list-item>
    </v-ons-list>
    <v-ons-alert-dialog
      modifier="rowfooter"
      :visible.sync="requirePassword"
                        >
      <span slot="title">Password</span>
      <p>Please enter your password.</p>
      <v-ons-input placeholder="Password" v-model="password" type="password" :class="{shake:incorrect}"></v-ons-input>
      <template slot="footer">
        <div class="alert-dialog-button" @click="$emit('pop')">Cancel</div>
        <div class="alert-dialog-button" @click="decrypt">unlock</div>
      </template>
    </v-ons-alert-dialog>
  </div>
</v-ons-page>
