<span class="timestamp">
  <span class="absolute" v-if="mode==='absolute'">
    {{d.year|pad}}/{{d.month|pad}}/{{d.date|pad}}&nbsp;{{d.hour|pad}}:{{d.minute|pad}}:{{d.sec|pad}}
  </span>
  <span class="relative" v-if="mode==='relative'">
    <span v-if="d.rightnow"></span>
    <span v-if="d.minAgo">{{d.minAgo}}</span>
    <span v-if="d.hrAgo">{{d.hrAgo}}</span>
    <span v-if="d.dayAgo">{{d.dayAgo}}</span>
    <span v-if="d.monthAgo">{{d.monthAgo}}</span>
    <span v-if="d.yearAgo">{{d.yearAgo}}</span>
  </span>
</span>
