<span class="timestamp">
  <span class="absolute" v-if="mode==='absolute'">
    {{d.year|pad}}/{{d.month|pad}}/{{d.date|pad}}&nbsp;{{d.hour|pad}}:{{d.minute|pad}}:{{d.sec|pad}}
  </span>
  <span class="relative" v-if="mode==='relative'">
    <span v-if="d.rightnow">Now</span>
    <span v-if="d.minAgo">{{d.minAgo}}minutes ago</span>
    <span v-if="d.hrAgo">{{d.hrAgo}} hours ago</span>
    <span v-if="d.dayAgo">{{d.dayAgo}} days ago</span>
    <span v-if="d.monthAgo">{{d.monthAgo}}months ago</span>
    <span v-if="d.yearAgo">{{d.yearAgo}}years ago</span>
  </span>
</span>
