<v-ons-page data-page="zaifPay">
  <custom-bar title="Zaif Payment" menu="true"></custom-bar>
  <div>
    <div v-show="!hasCredentials" class="hasNoCredentials">
      <div class="logo"></div>
      <p>Zaif PaymentisZaif the payment service that you can receive in Japanese yen, not cryptocurrency at the time of receipt, through exchanges.Using this will free you from the risk of rate fluctuations <br/>
        First let's input the API key and secret key from the setting screen.
      </p>
    </div>

    <div v-show="hasCredentials">
      <p>
        Attention: Zaifserver is very unstable when crowded. Please check the health meter before you settle. <br/></p>
      <v-ons-list>
        <v-ons-list-item modifier="chevron tappable" @click="health">
          Health meter
        </v-ons-list-item>
        <v-ons-list-header>Create invoice</v-ons-list-header>
        <v-ons-list-item>
          <div class="center">cryptocurrency used for settlement</div>
          <div class="right">
            <v-ons-select v-model="cur">
              <option value="mona">mona</option>
              <option value="btc">btc</option>
            </v-ons-select>
          </div>
        </v-ons-list-item>
        <v-ons-list-item>
          <div class="center">Speed regarded as settlement completion</div>
          <div class="right">
            <v-ons-select v-model="speed">
              <option value="low">slow but firm</option>
              <option value="medium">Minimum confirmation</option>
              <option value="high">Fast but high risk</option>
            </v-ons-select>
          </div>
        </v-ons-list-item>
        <v-ons-list-item>
          <div class="center">amount to be settled (JPY)</div>
          <div class="right">
            <v-ons-input v-model="amount" type="number" placeholder="amount to be settled"></v-ons-input>
            <currency-set ticker="jpy"></currency-set>
          </div>
        </v-ons-list-item>
        <v-ons-list-item>
          <div class="center">Product name</div>
          <div class="right">
            <v-ons-input v-model="itemName" placeholder="It will appear in the invoice list"></v-ons-input>
          </div>
        </v-ons-list-item>
        <v-ons-list-item>
          <div class="center">Order ID</div>
          <div class="right">
            <v-ons-input v-model="orderId" placeholder="optional"></v-ons-input>
          </div>
        </v-ons-list-item>
         <v-ons-list-item>
          <div class="center">Reference number</div>
          <div class="right">
            <v-ons-input v-model="ref" placeholder="optional"></v-ons-input>
          </div>
         </v-ons-list-item>
         <v-ons-list-item>
           <v-ons-button modifier="large" @click="createInvoice">SAVE & issue the invoice</v-ons-button>
         </v-ons-list-item>
         <v-ons-list-header>Saved invoice</v-ons-list-header>
         <v-ons-list-item modifier="tappable chevron" v-for="inv in invoices" @click="showInvoice(inv.invoiceId)">
           <div class="center">{{inv.itemName}}</div>
           <div class="right">
             <timestamp :timestamp="inv.created"></timestamp>
           </div>
         </v-ons-list-item>
      </v-ons-list>
    </div>
  </div>
</v-ons-page>
