<v-ons-page data-page="zaifPayInvoice">
  <custom-bar title="Zaif invoice" menu="true"></custom-bar>
  <div>
    <div id="qrArea">
        <div id="qrcode">
          <img :src="qrDataUrl||''" alt="QR code" id="qrcodeImage"/>
          <div id="currentCurIcon" :style="{'background-image':'url('+currentCurIcon+')'}"></div>
        </div>
        <div class="address">{{res.bip21}}</div>
      </div>
    
    <v-ons-list>
      <v-ons-list-item>
        <div class="center">cryptocurrency used for settlement</div>
        <div class="right">
          <div v-show="res.currency==='mona'">mona</div>
          <div v-show="res.currency==='btc'">btc</div>
        </div>
      </v-ons-list-item>
      <v-ons-list-item>
        <div class="center">Speed regarded as settlement completion</div>
        <div class="right">
          <div v-show="res.speed==='low'">slow but firm</div>
          <div v-show="res.speed==='medium'">Minimum confirmation</div>
          <div v-show="res.speed==='high'">Fast but high risk</div>
          
        </div>
      </v-ons-list-item>
      <v-ons-list-item>
        <div class="center">Progress of settlement</div>
        <div class="right">
          <div v-show="res.status==='new'">Receiving invoice</div>
          <div v-show="res.status==='paid'">It seems to be sent</div>
          <div v-show="res.status==='confirmed'">Confirmed</div>
          <div v-show="res.status==='complete'">Done</div>
          <div v-show="res.status==='expired'">Expired</div>
          <div v-show="res.status==='invalid'">Failed</div>
          <div v-show="res.status==='canceled'">Cancelled</div>
        </div>
      </v-ons-list-item>
      <v-ons-list-item>
        <div class="center">amount to be settled (cryptocurrency)</div>
        <div class="right">
          <currency-set :amount="curAmt" :ticker="res.currency"></currency-set>
        </div>
      </v-ons-list-item>
      <v-ons-list-item>
        <div class="center">address</div>
        <div class="right">
          <v-ons-input v-model="res.address"></v-ons-input>
        </div>
      </v-ons-list-item>
      <v-ons-list-item>
        <div class="center">(JPY)</div>
        <div class="right">
          <currency-set :amount="res.amount" ticker="jpy"></currency-set>
        </div>
      </v-ons-list-item>
      <v-ons-list-item>
        <div class="center">Order ID</div>
        <div class="right">
          <div>{{res.orderNumber}}</div>
        </div>
      </v-ons-list-item>
      <!--<v-ons-list-item>
        <div class="center">Invoice creation date</div>
        <div class="right">
          <timestamp :timestamp="res.created"></timestamp>
        </div>
      </v-ons-list-item>
      <v-ons-list-item>
        <div class="center">Invoice expiration date</div>
        <div class="right">
          <timestamp :timestamp="res.expired"></timestamp>
        </div>
      </v-ons-list-item>-->
      
    </v-ons-list>
    
  </div>
</v-ons-page>
