<v-ons-page data-page="monaparty">
  <custom-bar title="カードであそぶ" menu="true">
    <v-ons-toolbar-button @click="getMyAssets">
      <v-ons-icon icon="fa-refresh"></v-ons-icon>
    </v-ons-toolbar-button>
    <v-ons-toolbar-button @click="goToDex"><v-ons-icon icon="fa-exchange"></v-ons-icon></v-ons-toolbar-button>
  </custom-bar>
  <div>
    
    <v-ons-list>
      <v-ons-list-item @click="titDlg=true" modifier="tappable chevron small" v-if="titles&&titles[titleId]">
        <div class="left"><img id="titleImg" :src="titles[titleId].icon"/></div>
        <div class="center">{{titles[titleId].titleName}}</div>
      </v-ons-list-item>
      <v-ons-list-item modifier="small">
        <div class="center">
          <v-ons-input v-model="searchKeyword" placeholder="アドレス,トークン名" @change="searchByKeyword"></v-ons-input>
        </div>
        <div class="right">
          <v-ons-button @click="searchByKeyword"><v-ons-icon icon="fa-search"></v-ons-icon></v-ons-button>
        </div>
      </v-ons-list-item>
    </v-ons-list>
    <div id="tokens">
      <v-ons-card v-if="!assets.length"><div class="title">
        トークンがありません
        </div>
        <div class="content">メニュー→受け取り→モナコインアイコン で受け取りアドレスを取得しましょう。</div>
      </v-ons-card>
      <div v-for="asset in assets" @click="showTokenInfo(asset.asset_longname||asset.asset,asset.address)" class="token" :style="asset.image">
        <div class="cur"><currency-set :amount="asset.normalized_quantity" :ticker="asset.asset_longname||asset.asset" :notKnown="true"></currency-set></div>
        <div class="owner" v-show="asset.owner"><v-ons-icon icon="fa-bookmark"></v-ons-icon></div>
      </div>
    </div>
  </div>
  <v-ons-fab position="bottom right" @click="goToMakeToken">
      <v-ons-icon icon="fa-plus"></v-ons-icon>
    </v-ons-fab>
  <v-ons-modal :visible="loading">
    <p style="text-align: center">
      処理中 
      <br><br>
      <div class="spinner"></div>
    </p>
  </v-ons-modal>
  <v-ons-dialog cancelable
                :visible.sync="titDlg"
                >
    <v-ons-list>
      <v-ons-list-item v-for="(v,i) in titles" modifier="tappable chevron" @click="titleId=i">
        <div class="left"><img id="titleImg" :src="v.icon"/></div>
        <div class="center">{{v.titleName}}</div>
      </v-ons-list-item>
      
    </v-ons-list>
  </v-ons-dialog>
</v-ons-page>
