<v-ons-page data-page="xrp">
  <custom-bar title="Ripple" menu="true">
    <v-ons-toolbar-button @click="getBalance" @click.right="serverDlg=true">
      <v-ons-icon icon="ion-ios-loop-strong"></v-ons-icon>
    </v-ons-toolbar-button>
  </custom-bar>
  <div>
    <div v-show="requirePassword" class="wrap">
      <p>パスワードを入力して下さい。</p>
      <div :class="{shake:incorrect}" class="passwordBox">
        <input :disabled="loading" type="password" v-model="password"  @keydown.enter="decrypt"/>
      </div>
      <v-ons-button modifier="large" @click="decrypt" :disabled="loading">はじめる</v-ons-button>
    </div>
    <div v-show="address">
      <div v-show="plzActivate" class="description">
        <h1>リップル</h1>
        <p>
          リップルとは、ビットコインにインスパイヤされた高速な国際送金を実現するために作られた分散型台帳システムです。現在では、その高速な着金のため<b>決済システム</b>としても利用されています。 <br/></p>
        <p>
          Q. ビットコインと何が違うの? <br/>
          A. ビットコインは、ブロックチェーンを用いています。その書き込み権利はプルーフ・オブ・ワークによって決定されています。この欠点は、時間がかかること、大量のエネルギーを消費することです。それに対してリップルはリップルレジャーというブロックチェーンとは一味違う台帳に書き込んでいます。リップルは、書き込む権限を制限する代わりに、<b>エネルギーを無駄にせず、数秒で取引を完了</b>することができます。</p>
        <p>
          Q. つまり、リップルは中央集権なの？ <br/>
          A. はい、まさにその通りです。書き込む権限を持った人たちが裏切ったらネットワークは崩壊します。
        </p>
        <p>
          Q. パブリックチェーンなの？プライベートチェーンなの？ <br/>
          A. ブロックチェーンじゃないのでどちらでもありません。大事なことなので二回言います。<b>リップルはブロックチェーンを使っていません</b>
        </p>
        <p>
          リップルを始めるには、下記のリップルアドレスに 20 XRP を送金してアカウントを有効化してください。
        </p>
      </div>
      <div id="simp1le">
        <div id="qrArea">
          <div id="qrcode">
            <img :src="qrDataUrl" alt="No Address" id="qrcodeImage"/>
          </div>
          <div class="address">{{address||"読み込み中"}}</div>
        </div>
        <p><v-ons-input v-model="invAmt" placeholder="請求額" type="number"></v-ons-input></p>
        <v-ons-button @click="copyAddress" modifier="quiet">
          <v-ons-icon icon="fa-clipboard"></v-ons-icon>
          アドレスコピー
        </v-ons-button>
        <v-ons-button @click="share" modifier="quiet" v-if="shareable">
          <v-ons-icon icon="fa-share-square-o"></v-ons-icon>共有
        </v-ons-button>
        
      </div>
      <v-ons-list v-show="!plzActivate">
        <v-ons-list-header>残高</v-ons-list-header>
        <v-ons-list-item v-for="b in balances">
          <div class="center">{{b.value}}</div>
          <div class="right">{{b.currency}}</div>
        </v-ons-list-item>
        <v-ons-list-header>送る</v-ons-list-header>
        <v-ons-list-item>
          <v-ons-input placeholder="送金先アドレス" v-model="sendAddress"></v-ons-input>
        </v-ons-list-item>
        <v-ons-list-item>
          <div class="center">相手に送金する金額</div>
          <div class="right">
            <v-ons-input type="number" v-model="sendAmount"></v-ons-input>
          </div>
        </v-ons-list-item>
         <v-ons-list-item>
          <div class="center">法定通貨換算</div>
          <div class="right">
            <v-ons-input type="number" v-model="fiatConv"></v-ons-input>
          </div>
        </v-ons-list-item>
        <v-ons-list-item>
          <div class="center">宛先タグ</div>
          <div class="right">
            <v-ons-input type="number" v-model="destTag"></v-ons-input>
          </div>
        </v-ons-list-item>
        <v-ons-list-item>
          <v-ons-input placeholder="メモ" v-model="memo"></v-ons-input>
        </v-ons-list-item>
        <v-ons-list-item><v-ons-button @click="confirm=true" modifier="large" :disabled="!sendAddress||!sendAmount">送信</v-ons-button></v-ons-list-item>
        <v-ons-list-header>履歴</v-ons-list-header>
        <v-ons-list-item v-for="h in history">
          <div class="left" v-if="h.type==='send'">送金</div>
          <div class="left" v-if="h.type==='receive'">受け取り</div>
          <div class="left" v-if="h.type==='unknown'">非対応のコマンド</div>
          <div class="center" v-if="h.type==='send'">{{h.destAddr}}</div>
          <div class="center" v-if="h.type==='receive'">{{h.srcAddr}}</div>
          <div class="right">
            
            <currency-set v-for="ch in h.balanceChange" :amount="ch.value" :ticker="ch.currency" :notKnown="true"></currency-set></div>
        </v-ons-list-item>
      </v-ons-list>
    </div>
  </div>
  <v-ons-modal :visible="loading">
    <p style="text-align: center">
      処理中
      <br><br>
      <div class="spinner"></div>
      <br/>
    </p>
  </v-ons-modal>
  <v-ons-alert-dialog
    modifier="rowfooter"
    :visible.sync="confirm"
    >
    <span slot="title">送金確認</span>
    <p>{{sendAddress}}</p>
    <p>{{sendAmount}}XRP</p>
    <p>失敗しても手数料がかかるときがあるので注意</p>
    <template slot="footer">
      <div class="alert-dialog-button" @click="send">送金</div>
      <div class="alert-dialog-button" @click="confirm=false">戻る</div>
    </template>
  </v-ons-alert-dialog>
  
  <v-ons-alert-dialog
    modifier="rowfooter"
    :visible.sync="serverDlg"
    >
    <span slot="title">サーバー変更</span>
    <p><v-ons-input v-model="server" placeholder="wss://s2.ripple.com:443"></v-ons-input></p>
    
    <template slot="footer">
      <div class="alert-dialog-button" @click="serverDlg=false">閉じる</div>
      <div class="alert-dialog-button" @click="connect">接続</div>
    </template>
  </v-ons-alert-dialog>
</v-ons-page>
