<v-ons-page data-page="zaifPay">
  <custom-bar title="Zaif Payment" menu="true">
  <v-ons-toolbar-button @click="resetDialog=true">
      <v-ons-icon icon="fa-eraser"></v-ons-icon>
  </v-ons-toolbar-button>
  </custom-bar>
  <div>
    <div v-show="!hasCredentials" class="hasNoCredentials">
      <div class="logo"></div>
      <p>Zaif Paymentとは、Zaif取引所を通して、受け取り時に暗号通貨でなく、日本円で受け取ることができる決済サービスです。これにより、レート変動によるリスクから解放されます。 <br/>
        まずは、APIキー、シークレットキーを入力しましょう。
      </p>
      <v-ons-list>
        <v-ons-list-item><div class="center">API Key</div>
          <div class="right">
            <v-ons-input placeholder="Type here" v-model="apiKey"></v-ons-input>
          </div>
        </v-ons-list-item>
        <v-ons-list-item><div class="center">Secret Key</div>
          <div class="right">
            <v-ons-input placeholder="Raw Secret Key" v-model="secret"></v-ons-input>
          </div>
        </v-ons-list-item>
        <v-ons-list-item>
        <v-ons-button modifier="large" @click="saveCredentials">保存</v-ons-button>
      </v-ons-list-item>
      </v-ons-list>
    </div>

    <div v-show="hasCredentials">
      <p>
        注意: Zaifのサーバーは混雑時、とても不安定です。決済する前に、ヘルスメーターを確認する癖をつけてください。 <br/></p>
      <v-ons-list>
        
        <v-ons-list-header>請求を作成</v-ons-list-header>
        <v-ons-list-item>
          <div class="center">決済に使用する暗号通貨</div>
          <div class="right">
            <v-ons-select v-model="cur">
              <option value="mona">mona</option>
              <option value="btc">btc</option>
            </v-ons-select>
          </div>
        </v-ons-list-item>
        <v-ons-list-item>
          <div class="center">決済完了とみなすスピード</div>
          <div class="right">
            <v-ons-select v-model="speed">
              <option value="low">遅いけど確実</option>
              <option value="medium">最低限の承認</option>
              <option value="high">すぐに終わるけどハイリスク</option>
            </v-ons-select>
          </div>
        </v-ons-list-item>
        <v-ons-list-item>
          <div class="center">決済金額（日本円）</div>
          <div class="right">
            <v-ons-input v-model="amount" type="number" placeholder="決済額"></v-ons-input>
            <currency-set ticker="jpy"></currency-set>
          </div>
        </v-ons-list-item>
        <v-ons-list-item>
          <div class="center">商品名</div>
          <div class="right">
            <v-ons-input v-model="itemName" placeholder="請求リストに表示されます"></v-ons-input>
          </div>
        </v-ons-list-item>
        <v-ons-list-item>
          <div class="center">オーダーIDなど</div>
          <div class="right">
            <v-ons-input v-model="orderId" placeholder="任意"></v-ons-input>
          </div>
        </v-ons-list-item>
         <v-ons-list-item>
          <div class="center">参照番号など</div>
          <div class="right">
            <v-ons-input v-model="ref" placeholder="任意"></v-ons-input>
          </div>
         </v-ons-list-item>
         <v-ons-list-item>
           <v-ons-button modifier="large" @click="createInvoice">保存 & 請求発行</v-ons-button>
         </v-ons-list-item>
         <v-ons-list-header>保存された請求</v-ons-list-header>
         <v-ons-list-item modifier="tappable chevron" v-for="inv in invoices" @click="showInvoice(inv.invoiceId)">
           <div class="center">{{inv.itemName}}</div>
           <div class="right">
             <timestamp :timestamp="inv.created"></timestamp>
           </div>
         </v-ons-list-item>
      </v-ons-list>
    </div>
  </div>
  <v-ons-dialog cancelable
                :visible.sync="invoiceDlg"
                >
    <v-ons-toolbar inline>
      <div class="left">
        <v-ons-toolbar-button @click="invoiceDlg=false">
          <v-ons-icon icon="ion-close"></v-ons-icon>
        </v-ons-toolbar-button>
      </div>
      <div class="center">請求</div>
    </v-ons-toolbar>
    <div id="zaifPayInvoice">
      <div id="qrArea">
        <div id="qrcode">
          <img v-if="qrDataUrl" :src="qrDataUrl" alt="QR code" id="qrcodeImage"/>
          <div id="currentCurIcon" :style="{'background-image':'url('+currentCurIcon+')'}"></div>
        </div>
        <div class="address">{{res.address}}</div>
        <v-ons-button @click="copyAddress" modifier="quiet">
        <v-ons-icon icon="fa-clipboard"></v-ons-icon>
        アドレスコピー
      </v-ons-button>
      <v-ons-button @click="share" modifier="quiet" v-if="shareable">
        <v-ons-icon icon="fa-share-square-o"></v-ons-icon>共有
      </v-ons-button>
      </div>
      
      <v-ons-list>
        <v-ons-list-item>
          <div class="center">決済請求</div>
          <div class="right">
            <div v-show="res.currency==='mona'"><currency-set :amount="res.mona" ticker="mona"></currency-set></div>
            <div v-show="res.currency==='btc'"><currency-set :amount="res.btc" ticker="btc"></currency-set></div>
          </div>
        </v-ons-list-item>
        <v-ons-list-item>
          <div class="center">決済完了とみなすスピード</div>
          <div class="right">
            <div v-show="res.speed==='low'">遅いけど確実</div>
            <div v-show="res.speed==='medium'">最低限の承認</div>
            <div v-show="res.speed==='high'">すぐに終わるけどハイリスク</div>
            
          </div>
        </v-ons-list-item>
        <v-ons-list-item>
          <div class="center">決済の進捗</div>
          <div class="right">
            <div v-show="res.status==='new'">請求受付中</div>
            <div v-show="res.status==='paid'">送金されたようです</div>
            <div v-show="res.status==='confirmed'">確認されました。</div>
            <div v-show="res.status==='complete'">完了</div>
            <div v-show="res.status==='expired'">期限切れ</div>
            <div v-show="res.status==='invalid'">失敗</div>
            <div v-show="res.status==='canceled'">キャンセルされました</div>
          </div>
        </v-ons-list-item>
        <v-ons-list-item>
          <div class="center">決済金額（暗号通貨）</div>
          <div class="right">
            <currency-set :amount="curAmt" :ticker="res.currency"></currency-set>
          </div>
        </v-ons-list-item>
        <v-ons-list-item>
          <div class="center">BIP 21</div>
          <div class="right">
            <v-ons-input v-model="res.BIP21" readonly="readonly"></v-ons-input>
          </div>
        </v-ons-list-item>
        <v-ons-list-item>
          <div class="center">Invoice ID</div>
          <div class="right">
            <v-ons-input v-model="res.invoiceId" readonly="readonly"></v-ons-input>
          </div>
        </v-ons-list-item>
        <v-ons-list-item>
          <div class="center">（日本円）</div>
          <div class="right">
            <currency-set :amount="res.amount" ticker="jpy"></currency-set>
          </div>
        </v-ons-list-item>
        <v-ons-list-item>
          <div class="center">オーダーIDなど</div>
          <div class="right">
            <div>{{res.orderNumber}}</div>
          </div>
        </v-ons-list-item>
        <v-ons-list-item>
          <div class="center">作成時刻</div>
          <div class="right">
            <timestamp :timestamp="res.created"></timestamp>
          </div>
        </v-ons-list-item>
      </v-ons-list>
      
    </div>
  </v-ons-dialog>
   <v-ons-alert-dialog modifier="rowfooter"
      :visible.sync="resetDialog"
    >
      <span slot="title">認証情報消去</span>
      <p>APIキーとシークレットを消去します</p>
      <template slot="footer">
        <div class="alert-dialog-button" @click="resetDialog = false">やめる</div>
        <div class="alert-dialog-button" @click="eraseCredentials">OK</div>
      </template>
    </v-ons-alert-dialog>
</v-ons-page>
