<?xml version='1.0' encoding='utf-8'?>
<widget id="org.missmonacoin.monya" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>もにゃ</name>
    <description>
    A sample Apache Cordova application that responds to the deviceready event.
  </description>
    <author email="missmonacoin+monya@gmail.com" href="http://missmonacoin.github.io/monya">
    MissMonacoin
  </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <allow-intent href="monacoin:*" />
    <allow-intent href="bitcoin:*" />
    <allow-intent href="bitzeny:*" />
    <preference name="AllowInlineMediaPlayback" value="true" />
    <preference name="StatusBarStyle" value="default" />
    <preference name="StatusBarOverlaysWebView" value="true" />
    <preference name="DisallowOverscroll" value="true" />
    <platform name="android">
        <preference name="android-minSdkVersion" value="21" />
        <allow-intent href="market:*" />
        <preference name="SplashShowOnlyFirstTime" value="false" />
        <preference name="SplashMaintainAspectRatio" value="true" />
        <preference name="SplashScreenSpinnerColor" value="#3c7bc8" />
        <icon density="ldpi" src="res/icons/android/ldpi.png" />
        <icon density="mdpi" src="res/icons/android/mdpi.png" />
        <icon density="hdpi" src="res/icons/android/hdpi.png" />
        <icon density="xhdpi" src="res/icons/android/xhdpi.png" />
        <icon density="xxhdpi" src="res/icons/android/xxhdpi.png" />
        <icon density="xxxhdpi" src="res/icons/android/xxxhdpi.png" />
        <splash density="port-ldpi" src="res/screens/android/splash-port-ldpi.png" />
        <splash density="port-mdpi" src="res/screens/android/splash-port-mdpi.png" />
        <splash density="port-hdpi" src="res/screens/android/splash-port-hdpi.png" />
        <splash density="port-xhdpi" src="res/screens/android/splash-port-xhdpi.png" />
        <splash density="port-xxhdpi" src="res/screens/android/splash-port-xxhdpi.png" />
        <splash density="port-xxxhdpi" src="res/screens/android/splash-port-xxxhdpi.png" />
        <splash density="land-ldpi" src="res/screens/android/splash-land-ldpi.png" />
        <splash density="land-mdpi" src="res/screens/android/splash-land-mdpi.png" />
        <splash density="land-hdpi" src="res/screens/android/splash-land-hdpi.png" />
        <splash density="land-xhdpi" src="res/screens/android/splash-land-xhdpi.png" />
        <splash density="land-xxhdpi" src="res/screens/android/splash-land-xxhdpi.png" />
        <splash density="land-xxxhdpi" src="res/screens/android/splash-land-xxxhdpi.png" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <preference name="BackupWebStorage" value="local" />
        <icon height="1024" src="res/icons/ios/icon-1024.png" width="1024" />
        <icon height="29" src="res/icons/ios/icon-small.png" width="29" />
        <icon height="58" src="res/icons/ios/icon-small@2x.png" width="58" />
        <icon height="87" src="res/icons/ios/icon-small@3x.png" width="87" />
        <icon height="40" src="res/icons/ios/icon-small-40.png" width="40" />
        <icon height="80" src="res/icons/ios/icon-small-40@2x.png" width="80" />
        <icon height="120" src="res/icons/ios/icon-small-40@3x.png" width="120" />
        <icon height="50" src="res/icons/ios/icon-small-50.png" width="50" />
        <icon height="100" src="res/icons/ios/icon-small-50@2x.png" width="100" />
        <icon height="57" src="res/icons/ios/icon.png" width="57" />
        <icon height="114" src="res/icons/ios/icon@2x.png" width="114" />
        <icon height="60" src="res/icons/ios/icon-60.png" width="60" />
        <icon height="120" src="res/icons/ios/icon-60@2x.png" width="120" />
        <icon height="180" src="res/icons/ios/icon-60@3x.png" width="180" />
        <icon height="72" src="res/icons/ios/icon-72.png" width="72" />
        <icon height="144" src="res/icons/ios/icon-72@2x.png" width="144" />
        <icon height="76" src="res/icons/ios/icon-76.png" width="76" />
        <icon height="152" src="res/icons/ios/icon-76@2x.png" width="152" />
        <icon height="167" src="res/icons/ios/icon-167.png" width="167" />
        <icon height="167" src="res/icons/ios/icon-83.5@2x.png" width="167" />
        <splash height="480" src="res/screens/ios/Default~iphone.png" width="320" />
        <splash height="960" src="res/screens/ios/Default@2x~iphone.png" width="640" />
        <splash height="1024" src="res/screens/ios/Default-Portrait~ipad.png" width="768" />
        <splash height="2048" src="res/screens/ios/Default-Portrait@2x~ipad.png" width="1536" />
        <splash height="1136" src="res/screens/ios/Default-568h@2x~iphone.png" width="640" />
        <splash height="1334" src="res/screens/ios/Default-667h.png" width="750" />
        <splash height="2208" src="res/screens/ios/Default-736h.png" width="1242" />
        <splash height="768" src="res/screens/ios/Default-Landscape~ipad.png" width="1024" />
        <splash height="1536" src="res/screens/ios/Default-Landscape@2x~ipad.png" width="2048" />
        <splash src="res/screens/ios/Default@2x~iphone~anyany.png" />
        <splash src="res/screens/ios/Default@2x~iphone~comany.png" />
        <splash src="res/screens/ios/Default@3x~iphone~anyany.png" />
        <splash src="res/screens/ios/Default@3x~iphone~comany.png" />
        <splash src="res/screens/ios/Default@2x~ipad~anyany.png" />
        <splash src="res/screens/ios/Default@2x~ipad~comany.png" />
        <splash src="res/screens/ios/Default@2x~iphone~comcom.png" />
        <splash src="res/screens/ios/Default@3x~iphone~anycom.png" />
    </platform>
    <platform name="windows">
        <icon src="res/icons/windows/storelogo.png" target="StoreLogo" />
        <icon src="res/icons/windows/smalllogo.png" target="Square30x30Logo" />
        <icon src="res/icons/windows/Square44x44Logo.png" target="Square44x44Logo" />
        <icon src="res/icons/windows/Square70x70Logo.png" target="Square70x70Logo" />
        <icon src="res/icons/windows/Square71x71Logo.png" target="Square71x71Logo" />
        <icon src="res/icons/windows/Square150x150Logo.png" target="Square150x150Logo" />
        <icon src="res/icons/windows/Square310x310Logo.png" target="Square310x310Logo" />
        <splash src="res/screens/windows/splashscreen.png" target="SplashScreen" />
        <splash src="res/screens/windows/splashscreenphone.png" target="SplashScreenPhone" />
    </platform>
    <engine name="ios" spec="^4.5.4" />
    <plugin name="cordova-plugin-whitelist" spec="^1.3.3" />
    <plugin name="cordova-plugin-splashscreen" spec="^4.1.0" />
    <plugin name="cordova-plugin-customurlscheme" spec="^4.3.0">
        <variable name="URL_SCHEME" value="monacoin" />
    </plugin>
    <plugin name="cordova-plugin-inappbrowser" spec="^2.0.1" />
    <plugin name="cordova-plugin-statusbar" spec="^2.4.1" />
    <plugin name="cordova-plugin-keychain-touch-id" spec="^3.2.1" />
    <plugin name="cordova-plugin-qrscanner-monya" spec="^2.5.4" />
    <plugin name="cordova-clipboard" spec="^1.1.1" />
</widget>
