<v-ons-page data-page="about">
  <custom-bar title="このアプリについて" menu="true"></custom-bar>
  <div>
    <h1>&nbsp;<!--t:AppName--></h1>
    <v-ons-list>
      <v-ons-list-item @click="forceUpdate">
        <div class="center">バージョン</div>
        <div class="right"><!--t:Version--></div>
      </v-ons-list-item>
      <v-ons-list-item>
        <div class="center">フレーバーネーム</div>
        <div class="right"><!--t:FlavorName--></div>
      </v-ons-list-item>
      <v-ons-list-item>
        <div class="center">ビルドブロック</div>  
        <div class="right"><!--t:Timestamp--></div>
      </v-ons-list-item>

      <v-ons-list-item modifier="chevron tappable" @click="goToTwitter('monya_wallet')">
        <div class="center">公式Twitter</div>
        <div class="right">もにゃ</div>
      </v-ons-list-item>

      <v-ons-list-item modifier="chevron tappable" @click="goToTwitter('zenypota')">
        <div class="center">開発・運営</div>
        <div class="right">ゼニポタ</div>
      </v-ons-list-item>

      <v-ons-list-header>バックエンド協力(敬称略)</v-ons-list-header>
      <v-ons-list-item>
        <div class="center">公式Twitterに掲載依頼をしていただければ追加させていただきます</div>
      </v-ons-list-item>
      <v-ons-list-item modifier="chevron tappable" @click="goToTwitter('tomotomo__9696')">
        <div class="center">BitZenyPlus Insight</div>
        <div class="right">tomotomo9696 様</div>
      </v-ons-list-item>

      <v-ons-list-header>テスト協力 (敬称略)</v-ons-list-header>
      <v-ons-list-item modifier="chevron tappable" @click="goToTwitter('meronpan_umeee')">
        <div class="center">Android テスター</div>
        <div class="right">エロんぱん 様</div>
      </v-ons-list-item>
      <v-ons-list-item modifier="chevron tappable" @click="goToTwitter('Bitzeny_Shrine')">
          <div class="center">Android テスター</div>
          <div class="right">BitZeny神社 様</div>
      </v-ons-list-item>
      <v-ons-list-item modifier="chevron tappable" @click="goToTwitter('samurai_zeny')">
          <div class="center">Android テスター</div>
          <div class="right">侍日本代表 様</div>
      </v-ons-list-item>

      <v-ons-list-header>翻訳協力 (敬称略)</v-ons-list-header>
      <v-ons-list-item modifier="chevron tappable" @click="goToTwitter('dianmuhaiyan')">
        <div class="center">Haiyan 様</div>
      </v-ons-list-item>
      <v-ons-list-item modifier="chevron tappable" @click="goToTwitter('askmona_2477')">
        <div class="center">hitobb 様</div>
      </v-ons-list-item>
      
      </v-ons-list-item>
      <v-ons-list-header>オープンソース</v-ons-list-header>
      <v-ons-list-item modifier="chevron tappable" @click="openLink('https://github.com/monya-wallet/monya')">ソースコード</v-ons-list-item>
      <v-ons-list-item @click="openLink('https://github.com/monya-wallet/monya/blob/master/LICENSE')">
        <div class="center">ライセンス</div>
        <div class="right">MIT License</div>
      </v-ons-list-item>
    </v-ons-list>
  </div>
</v-ons-page>
