<v-ons-page data-page="about">
  <custom-bar title="このアプリについて" menu="true"></custom-bar>
  <div>
    <h1>もにゃ</h1>
    <v-ons-list>
      <v-ons-list-item modifier="small">
        <div class="center">作った人</div>
        <div class="right">ゆき@モナコインJK</div>
      </v-ons-list-item>
      <v-ons-list-header>バックエンドをお借りした方々(敬称略)</v-ons-list-header>
      <v-ons-list-item modifier="small">
        <div class="center">Monacoin</div>
        <div class="right">Cryptcoin Junkey</div>
      </v-ons-list-item>
      <v-ons-list-item modifier="small">
        <div class="center">BitZeny</div>
        <div class="right">tomotomo9696</div>
      </v-ons-list-item>
      <v-ons-list-item modifier="small">
        <div class="center">Bitcoin</div>
        <div class="right">BitPay</div>
      </v-ons-list-item>
    </v-ons-list>
  </div>
</v-ons-page>
