<v-ons-page data-page="api">
  <custom-bar title="API" menu="true"></custom-bar>
  <div>
    <div v-if="qType==='yOrN'" id="yOrNAPI">
      <v-ons-button modifier="large cta" @click="yes">はい</v-ons-button>
      <v-ons-button modifier="large" @click="no">いいえ</v-ons-button>
    </div>
    <div v-if="qType==='password'" id="passwordAPI">
      <div v-if="name==='signTx'">
        署名します
      </div>
      
      <input v-model="password" placeholder="パスワード" class="text-input text-input--underbar" type="text">
      <v-ons-button modifier="large cta" @click="goWithPassword" :disabled="!password">次へ</v-ons-button>
      <v-ons-button modifier="large" @click="no">やめる</v-ons-button>
    </div>
    <div v-if="qType==='direct'">
      直接実行します
    </div>
    <div v-if="qType==='none'" id="noneAPI">
      <div>
        無効なメソッドが実行されました。
      </div>
    </div>
  </div>
</v-ons-page>
