<v-ons-page data-page="api">
  <custom-bar title="API" menu="true"></custom-bar>
  <div>
    <div v-show="!successful">
      <div>
        アプリケーションと連携します。信頼できるアプリケーションである場合のみ続行してください。
        <table>
          <tr>
            <td>内容</td>
            <td>{{method}}</td>
          </tr>
          <tr v-for="(v,k) in props">
            <td>{{v}}</td>
            <td>{{param[k]}}</td>
          </tr>
          <tr v-if="param.callbackURL">
            <td>Callback POST</td>
            <td>{{param.callbackURL}}</td>
          </tr>
          <tr v-if="param.callbackPage">
            <td>Callback Page</td>
            <td>{{param.callbackPage}}</td>
          </tr>
        </table>
      </div>
      <div v-if="qType==='normal'" id="yOrNAPI">
        <v-ons-button modifier="large cta" @click="next">はい</v-ons-button>
      </div>
      <div v-if="qType==='password'" id="passwordAPI">
        
        <input v-model="password" type="password" placeholder="パスワード" class="text-input text-input--underbar">
        <v-ons-button modifier="large cta" @click="next" :disabled="!password">次へ</v-ons-button>
      </div>
      
      <div v-if="qType==='none'" id="noneAPI">
        <div>
          無効なメソッドが実行されました。
        </div>
      </div>
    </div>
    <div v-show="successful">
      アプリケーションに戻ってください。
    </div>
  </div>
  <v-ons-dialog cancelable :visible.sync="dataDlg">
    <p style="text-align: center">このデータをアプリケーションに渡してください。</p>
    <textarea class="textarea" readonly="readonly" id="dataToPassApp">{{dataToPassApp}}</textarea>
  </v-ons-dialog>
</v-ons-page>
