<v-ons-page data-page="atomicswap">
  <custom-bar title="アトミック・スワップ" menu="true">
    <v-ons-toolbar-button @click="save">
      <v-ons-icon icon="fa-download"></v-ons-icon>
    </v-ons-toolbar-button>
    <v-ons-toolbar-button @click="reset">
      <v-ons-icon icon="fa-eraser"></v-ons-icon>
    </v-ons-toolbar-button>
  </custom-bar>
  <div>
    <v-ons-list>
      <v-ons-list-header>交換する者のどちらかがシークレットを決めて下さい</v-ons-list-header>
      <v-ons-list-item>
        <div class="center"><v-ons-input v-model="secret" placeholder="secret"></v-ons-input></div>
        <div class="right" v-show="secretSize>32">長すぎます</div>
      </v-ons-list-item>
      <div v-show="0<secretSize&&secretSize<32">
        <v-ons-list-header>相手にあげる通貨を選んでください</v-ons-list-header>
        <v-ons-list-item>
          <div class="center">あげる通貨</div>
          <div class="right">
            <v-ons-select v-model="giveCoinId"  @change="getRefundLabels">
              <option value="">選んでね</option>
              <option v-for="l in coins" :value="l.coinId">{{l.name}}</option>
            </v-ons-select>
          </div>
        </v-ons-list-item>
        <v-ons-list-item>
          <div class="center">失敗時の返金アドレス</div>
          <div class="right">
            <v-ons-select v-model="refundAddrIndex" @change="getPubKey">
              <option v-for="(l,i) in refundLabels" :value="i">{{l}}</option>
            </v-ons-select>
          </div>
        </v-ons-list-item>
        <v-ons-list-item v-show="giveCoinCPAvailable">
          <div class="center">Counterpartyトークンを送ります</div>
          <div class="right">
            <v-ons-switch v-model="giveCoinIsCP"></v-ons-switch>
          </div>
        </v-ons-list-item>
        <v-ons-list-header>受け取る通貨とそのアドレスを選んでください</v-ons-list-header>
        <v-ons-list-item>
          <div class="center">受け取る通貨</div>
          <div class="right">
            <v-ons-select v-model="getCoinId" @change="getLabels">
              <option value="">選んでね</option>
              <option v-for="l in coins" :value="l.coinId">{{l.name}}</option>
            </v-ons-select>
          </div>
        </v-ons-list-item>
        <v-ons-list-item>
          <div class="center">受信アドレスのラベル</div>
          <div class="right">
            <v-ons-select v-model="addrIndex" @change="getPubKey">
              <option v-for="(l,i) in labels" :value="i">{{l}}</option>
            </v-ons-select>
          </div>
        </v-ons-list-item>
        <v-ons-list-item v-show="getCoinCPAvailable">
          <div class="center">Counterpartyトークンを受け取ります</div>
          <div class="right">
            <v-ons-switch v-model="getCoinIsCP"></v-ons-switch>
          </div>
        </v-ons-list-item>
        <v-ons-list-item>
          <v-ons-button modifier="large" @click="getPubKey" :disabled="!labels.length||!giveCoinId||!getCoinId">アドレス取得</v-ons-button>
        </v-ons-list-item>
      </div>
      
      <v-ons-list-header>以下のデータを共有してください</v-ons-list-header>
      <v-ons-list-item v-show="!(0<secretSize&&secretSize<32)||strToSend">
        <v-ons-input v-model="strToRecv" placeholder="ここに相手から知らされた文字列を入力。"></v-ons-input>
      </v-ons-list-item>
      <v-ons-list-item v-show="strToSend" modifier="nodivider small">
        <div class="center">下記の文字列を相手に伝えてください。</div>
        <div class="right">
          <v-ons-button @click="copy(strToSend)" modifier="quiet">
            <v-ons-icon icon="fa-clipboard"></v-ons-icon>
          </v-ons-button>
        </div>
        
      </v-ons-list-item>
      <v-ons-list-item v-show="strToSend" modifier="small">
        <v-ons-input readonly="readonly" :value="strToSend"></v-ons-input>
      </v-ons-list-item>
      <v-ons-list-item v-show="!manual" @click="manual=true">
        <div class="left"><v-ons-icon icon="fa-caret-down"></v-ons-icon></div>
        <div class="center">詳細を確認</div>
      </v-ons-list-item>
      <div v-show="manual">
        <v-ons-list-item>
          <v-ons-input v-model="secretHash" placeholder="secretHash"></v-ons-input>
        </v-ons-list-item>
        <v-ons-list-item>
          <v-ons-input v-model="secretSize" placeholder="secretSize" type="number"></v-ons-input>
        </v-ons-list-item>
        <v-ons-list-item>
          <v-ons-input v-model="redeemAddressWithSecret" placeholder="シークレットを持っている方の引き出しアドレス"></v-ons-input>
        </v-ons-list-item>
        <v-ons-list-item>
          <v-ons-input v-model="refundAddressWithSecret" placeholder="シークレットを持っている方の返金アドレス"></v-ons-input>
        </v-ons-list-item>
        <v-ons-list-item>
          <v-ons-input v-model="redeemAddressWOSecret" placeholder="シークレットを持ってない方の引き出しアドレス"></v-ons-input>
        </v-ons-list-item>
        <v-ons-list-item>
          <v-ons-input v-model="refundAddressWOSecret" placeholder="シークレットを持ってない方の返金アドレス"></v-ons-input>
        </v-ons-list-item>
        <v-ons-list-item>
          <v-ons-input v-model="lockTime" placeholder="Lock Time" type="number"></v-ons-input>
        </v-ons-list-item>
      </div>
      <v-ons-list-item>
        <v-ons-button modifier="large" @click="generateP2SH" :disabled="!(secretSize&&secretHash&&refundAddressWithSecret&&redeemAddressWOSecret&&lockTime)">アドレスゲット</v-ons-button>
      </v-ons-list-item>
      <div v-show="myP2SH">
        <v-ons-list-header> {{giveCoinId}} を預ける</v-ons-list-header>
        <v-ons-list-item modifier="small">
          <div class="center">
            <v-ons-input :value="myP2SH&&myP2SH.address" readonly="readonly" placeholder="myP2SH"></v-ons-input>
          </div>
          <div class="right">
            
            <v-ons-button @click="myP2SHQrcode=true" modifier="quiet"><v-ons-icon icon="ion-navicon"></v-ons-icon></v-ons-button>
          </div>
        </v-ons-list-item>
      </div>
      <div v-show="opponentP2SH">
        <v-ons-list-header>相手は以下のアドレスに預けます</v-ons-list-header>
        <v-ons-list-item modifier="small">
          <div class="center">
            <v-ons-input :value="opponentP2SH&&opponentP2SH.address" readonly="readonly" placeholder="opponentP2SH"></v-ons-input>
          </div>
          <div class="right">
            <v-ons-button @click="copy(opponentP2SH.address)" modifier="quiet"><v-ons-icon icon="fa-clipboard"></v-ons-icon></v-ons-button>
          </div>
        </v-ons-list-item>
      </div>
      <div v-show="this.opponentP2SH&&this.myP2SH">
        <v-ons-list-header>資金の引き出し</v-ons-list-header>
        <v-ons-list-item>
          <v-ons-segment :index="isRefund|castInt">
            <button @click="isRefund=0">引き出し</button>
            <button @click="isRefund=1">返金</button>
          </v-ons-segment>
          
        </v-ons-list-item>
        <div v-show="(getCoinIsCP&&!isRefund)||(giveCoinIsCP&&isRefund)">
          <v-ons-list-item>
            <div class="center">トークン名（正式名称）</div>
            <div class="right">
              <v-ons-input v-model="cpToken" placeholder="Counterparty Token"></v-ons-input>
            </div>
          </v-ons-list-item>
          <v-ons-list-item>
            <div class="center">小数点で分割できるトークンですか？</div>
            <div class="right">
              <v-ons-switch v-model="cpDivisible"></v-ons-switch>
            </div>
          </v-ons-list-item>
          <v-ons-list-item>
            <div class="center">数量</div>
            <div class="right">
              <v-ons-input v-model="cpAmount" placeholder="数量" type="number"></v-ons-input>
            </div>
          </v-ons-list-item>
        </div>
        <v-ons-list-item v-show="!isRefund">
          <div class="center">
            <v-ons-input v-model="secret" placeholder="Secret"></v-ons-input>
          </div>
          <div class="right" v-show="!secret">
            <v-ons-button modifier="quiet" @click="getSecret">取得</v-ons-button>
          </div>
        </v-ons-list-item>
        <v-ons-list-item v-show="!((getCoinIsCP&&!isRefund)||(giveCoinIsCP&&isRefund))">
          <div class="center">手数料(satoshi)</div>
          <div class="right">
            <v-ons-input v-model="fee" type="number"></v-ons-input>
          </div>
        </v-ons-list-item>
        <v-ons-list-item v-show="(getCoinIsCP&&!isRefund)||(giveCoinIsCP&&isRefund)">
          <div class="center">手数料(Satoshi/Byte)</div>
          <div class="right">
            <v-ons-input v-model="fee" type="number"></v-ons-input>
          </div>
        </v-ons-list-item>
        <v-ons-list-item>

          <v-ons-input v-model="password" placeholder="Password" type="password"></v-ons-input>
          
        </v-ons-list-item>
        <v-ons-list-item v-show="!isRefund">
          <v-ons-button modifier="large" :disabled="!password" @click="signTx">Let's go.</v-ons-button>
        </v-ons-list-item>
        <v-ons-list-item v-show="isRefund">
          <v-ons-button modifier="large" :disabled="!password" @click="signRefundTx">返金</v-ons-button>
        </v-ons-list-item>
        <v-ons-list-header>署名されたトランザクション</v-ons-list-header>
        <v-ons-list-item>
          <textarea class="textarea--transparent" :value="signedTx"></textarea>
        </v-ons-list-item>
      </div>
    </v-ons-list>
    
    <v-ons-toast :visible.sync="secretNotFound" animation="ascend">
      シークレットが見つかりませんでした。相手が送金するまで待ちましょう。
      <button @click="secretNotFound=false"><v-ons-icon icon="ion-close"></v-ons-icon></button>
    </v-ons-toast>
    <v-ons-action-sheet
      :visible.sync="myP2SHQrcode"
      cancelable
      >
      
      <v-ons-action-sheet-button style="height:auto"><img v-if="myP2SHQrcodeUrl" :src="myP2SHQrcodeUrl" alt="QR code" id="qrcodeImage" style="width:100%"/></v-ons-action-sheet-button>
      <v-ons-action-sheet-button @click="myP2SHQrcode=false;copy(myP2SH.address)">コピー</v-ons-action-sheet-button>
      <v-ons-action-sheet-button @click="myP2SHQrcode=false;send(giveCoinId,myP2SH.address)">送金</v-ons-action-sheet-button>
      <v-ons-action-sheet-button modifier="destructive" @click="myP2SHQrcode=false">キャンセル</v-ons-action-sheet-button>
    </v-ons-action-sheet>
  </div>
</v-ons-page>
