<v-ons-page data-page="confirm">
  <custom-bar title="送る" menu="true"></custom-bar>
  <div>
    <v-ons-list>
      <v-ons-list-item>
        {{address}}
      </v-ons-list-item>
      <v-ons-list-item>
        <div class="center">送金先アドレスは</div>
        <div class="right" v-show="destHasUsed">使われた事があります</div>
        <div class="right" v-show="!destHasUsed">初めて使用されます</div>
      </v-ons-list-item>
      <v-ons-list-item>
        <div class="center">送金額</div>
        <div class="right"><currency-set :ticker="coinType" :amount="amount" :easy="isEasy"></currency-set></div>
      </v-ons-list-item>
      <v-ons-list-item modifier="small">
        <div class="center"></div>
        <div class="right">(<currency-set :ticker="$store.state.fiat" :amount="fiat" :about="true" :easy="isEasy"></currency-set>)</div>
      </v-ons-list-item>
      <v-ons-list-item modifier="small">
        <div class="center">送金手数料</div>
        <div class="right"><currency-set :ticker="coinType" :amount="fee" :easy="isEasy"></currency-set></div>
      </v-ons-list-item>
      <v-ons-list-item modifier="small">
        <div class="center">取引の詳細</div>
        <div class="right">{{txLabel}}</div>
      </v-ons-list-item>
      <v-ons-list-item modifier="small">
        <div class="center">メッセージ</div>
        <div class="right">{{message}}</div>
      </v-ons-list-item>
      <v-ons-list-item :class="{'insufficientFund':insufficientFund}" modifier="small">
        <div class="center">あなたの送金後の残高</div>
        <div class="right"><currency-set :ticker="coinType" :amount="afterSent" :easy="isEasy"></currency-set></div>
      </v-ons-list-item>
      <v-ons-list-header>送金したあとは元に戻すことはできません。</v-ons-list-header>
      <v-ons-list-item>
        <v-ons-input placeholder="パスワード" v-model="password" type="password"></v-ons-input>
      </v-ons-list-item>
      <v-ons-list-item>
        <v-ons-button :class="{shake:incorrect}" modifier="large" @click="next" :disabled="!ready||!password">送金</v-ons-button>
      </v-ons-list-item>
      <div v-show="hash">
        <v-ons-list-header>署名済みデータがあります</v-ons-list-header>
        <v-ons-list-item>
          <v-ons-input placeholder="ごめんなさい嘘です" :value="hash"></v-ons-input>
        </v-ons-list-item>
      </div>
    </v-ons-list>
  </div>
  <v-ons-modal :visible="loading">
      <p style="text-align: center">
        トランザクションデータ作成中
        <br><br>
        <div class="spinner"></div>
        <br/>
        <v-ons-button modifier="quiet" @click="$emit('pop')">キャンセル</v-ons-button>
      </p>
    </v-ons-modal>
</v-ons-page>
