<v-ons-page data-page="ethBase">
  <custom-bar :title="networkName" menu="true">
    <v-ons-toolbar-button @click="getBalance" @click.right="serverDlg=true">
      <v-ons-icon icon="ion-ios-loop-strong"></v-ons-icon>
    </v-ons-toolbar-button>
    <v-ons-toolbar-button @click="option=true">
      <v-ons-icon icon="ion-android-more-vertical"></v-ons-icon>
    </v-ons-toolbar-button>
  </custom-bar>
  <div>
    <div v-show="address">
      <div id="simple">
        <div id="qrArea">
          <div id="qrcode">
            <img :src="qrDataAddress" alt="No Address" style="width:100%;height:100%"/>
          </div>
          <div class="address">{{address||"読み込み中"}}</div>
        </div>
        
        <v-ons-button @click="copyAddress" modifier="quiet">
          <v-ons-icon icon="fa-clipboard"></v-ons-icon>
          アドレスコピー
        </v-ons-button>
        <v-ons-button @click="invoiceMenu=true" modifier="quiet">
          請求する
        </v-ons-button>
        
      </div>
      <v-ons-list>
        <v-ons-list-header>残高</v-ons-list-header>
        <v-ons-list-item @click="sendMenu=true;sendingToken=false">
          <div class="left">
            <img :src="networkIcon"/>
          </div>
          <div class="center">{{balance}}</div>
          <div class="right">{{networkSymbol}}</div>
        </v-ons-list-item>

        <v-ons-list-item @click="sendMenu=true;sendingToken=t" v-for="t in tokens">
          
          <div class="center">{{t.balance}}</div>
          <div class="right">{{t.symbol}}</div>
        </v-ons-list-item>
      </v-ons-list>
    </div>
  </div>
  <v-ons-modal :visible="loading">
    <p style="text-align: center">
      処理中
      <br><br>
      <div class="spinner"></div>
      <br/>
    </p>
  </v-ons-modal>
  <v-ons-alert-dialog
    modifier="rowfooter"
    :visible.sync="confirm"
    >
    <span slot="title">送金確認</span>
    <p>{{sendAddress}}</p>
    <p>{{sendingToken?sendingToken.symbol:networkSymbol}}</p>
    <p>手数料: {{totalGasPrice}} {{networkSymbol}}</p>
    <p>送金したあとは元に戻すことはできません。</p>
    <v-ons-input placeholder="パスワード" v-model="password" type="password"></v-ons-input>
    <template slot="footer">
      <div class="alert-dialog-button" @click="broadcast">送金</div>
      <div class="alert-dialog-button" @click="confirm=false">戻る</div>
    </template>
  </v-ons-alert-dialog>

  <v-ons-alert-dialog
    modifier="rowfooter"
    :visible.sync="serverDlg"
    >
    <span slot="title">サーバー変更</span>
    <p>
      <v-ons-select v-model="rpcServer" placeholder="" @change="setRpcServer">
        <option v-for="item in rpcServers" :value="item">{{item}}</option>
      </v-ons-select>
    </p>
    
    <template slot="footer">
      <div class="alert-dialog-button" @click="serverDlg=false">閉じる</div>
    </template>
  </v-ons-alert-dialog>
  
  </v-ons-alert-dialog>
  <v-ons-dialog :visible.sync="sendMenu" cancelable>
    <v-ons-list>
      <v-ons-list-item modifier="small" v-show="!sendingToken">
        <v-ons-button @click="invoiceMenu=true;sendMenu=false" modifier="quiet large">
          請求する
        </v-ons-button>
      </v-ons-list-item>
      <v-ons-list-item>
        <v-ons-input placeholder="送金先アドレス" v-model="sendAddress" @change="calcGasLimitFromAddress"></v-ons-input>
      </v-ons-list-item>
      <v-ons-list-item>
        <div class="center">相手に送金する金額</div>
        <div class="right">
          <v-ons-input type="number" v-model="sendAmount"></v-ons-input>
          {{sendingToken?sendingToken.symbol:networkSymbol}}
        </div>
      </v-ons-list-item>
      <v-ons-list-item expandable>
        詳細オプション
        <div class="expandable-content">
          
          <v-ons-list-item modifier="small">
            <div class="left">ガスプライス</div>
            <div class="center">
              <v-ons-input type="number" v-model.number="sendGasPrice" @change="sendGasPrice = intValue(sendGasPrice)"></v-ons-input>
            </div>
            <div class="right">Gwei</div>
          </v-ons-list-item>
          <v-ons-list-item modifier="small">
            <div class="left">ガスリミット</div>
            <div class="center">
              <v-ons-input type="number" v-model.number="sendGasLimit" @change="sendGasLimit = intValue(sendGasLimit)"></v-ons-input>
            </div>
          </v-ons-list-item>
          <v-ons-list-item>
            <div class="left">ガス合計</div>
            <div class="center">
              <v-ons-input :value="totalGasPrice" readonly></v-ons-input>
            </div>
            <div class="right">{{networkSymbol}}</div>
          </v-ons-list-item>
        </div>
      </v-ons-list-item>
      <v-ons-list-item>
        <v-ons-button @click="send" modifier="large" :disabled="!isValidAddress||sendAmount===''||!sendGasPrice||!sendGasLimit">送信</v-ons-button>
      </v-ons-list-item>
    </v-ons-list>
  </v-ons-dialog>

 

  <v-ons-dialog :visible.sync="invoiceMenu" cancelable>
    <v-ons-list>
      <div id="modalQr">
        <img :src="qrDataUrl" alt="No Address" id="qrcodeImage"/>
        <div class="url">{{url}}</div>
      </div>
      <v-ons-list-item v-if="shareable" modifier="small">
        <v-ons-button @click="share" modifier="large">
          <v-ons-icon icon="fa-share-square-o"></v-ons-icon>共有
        </v-ons-button>
      </v-ons-list-item>
      <v-ons-list-item>
        <div class="center">QRコードの形式</div>
        <div class="right">
          <v-ons-select v-model="addressFormat">
            <option value="url">URL形式</option>
            <option value="monya">もにゃ互換</option>
          </v-ons-select>
        </div>
      </v-ons-list-item>
      <v-ons-list-item>
        <div class="center">請求額</div>
        <div class="right"><v-ons-input v-model="invAmt" placeholder="請求額" type="number"></v-ons-input></div>
      </v-ons-list-item>
      <v-ons-list-item>
        <div class="right">{{networkSymbol}}</div>
      </v-ons-list-item>
      
    </v-ons-list>
  </v-ons-dialog>

  <v-ons-dialog :visible.sync="tokenReg.show" cancelable>
    <v-ons-list>
      <v-ons-list-item>
        <div class="center">コントラクトアドレス</div>
        <div class="right">
          <v-ons-input placeholder="0x....." v-model="tokenReg.contractAddress"></v-ons-input>
        </div>
      </v-ons-list-item>
      <v-ons-list-item>
        <div class="center">通貨シンボル</div>
        <div class="right">
          <v-ons-input placeholder="OMG,AE,REP" v-model="tokenReg.symbol"></v-ons-input>
        </div>
      </v-ons-list-item>
      <v-ons-list-item>
        <div class="center">小数桁数</div>
        <div class="right">
          <v-ons-input placeholder="正の整数" type="number" v-model="tokenReg.decimal"></v-ons-input>
        </div>
      </v-ons-list-item>
      <v-ons-list-item>
        <v-ons-button @click="registerToken" modifier="large">登録</v-ons-button>
      </v-ons-list-item>
      <v-ons-list-header>登録済</v-ons-list-header>
      <v-ons-list-item v-for="(t,i) in tokens">
        <div class="left">{{i}}</div>
        <div class="center">{{t.symbol}}</div>
        <div class="right">
          <v-ons-button modifier="quiet" @click="removingToken=i"><v-ons-icon icon="ion-close-circled"></v-ons-icon></v-ons-button>
        </div>
      </v-ons-list-item>
      </v-ons-list>
    </v-ons-list>
  </v-ons-dialog>

  <v-ons-dialog :visible.sync="runContract.show" cancelable>
    <v-ons-list>
      <v-ons-list>
        <v-ons-list-item modifier="small">
          <div class="center">コントラクトアドレス</div>
          <div class="right">
            <v-ons-input placeholder="0x....." v-model="runContract.contractAddress"></v-ons-input>
          </div>
        </v-ons-list-item>
        <v-ons-list-item modifier="small">
          <textarea class="textarea" style="width:100%" placeholder="JSON Interface" v-model="runContract.abiStr"></textarea>
        </v-ons-list-item>
        <v-ons-list-item modifier="small">
          <v-ons-select v-show="abi" v-model="runContract.fn" @change="runContract.args=[]">
            <option :value="null">関数を選んでください。</option>
            <option :value="fn.name" v-for="fn in abi">{{fn.name}}</option>
          </v-ons-select>
        </v-ons-list-item>
        <v-ons-list-item v-for="(input,i) in selectedAbiFn.inputs" v-if="input.name" modifier="small">
          <div class="center">{{input.name}}</div>
          <div class="right">
            <v-ons-input :placeholder="input.type" @input="runContract.args[i]=cast($event.target.value,input.type)"></v-ons-input>
          </div>
        </v-ons-list-item>
        <div v-show="!selectedAbiFn.constant&&abi">
          <v-ons-list-item modifier="small">
            <div class="left">ガスプライス</div>
            <div class="center">
              <v-ons-input type="number" v-model.number="sendGasPrice" @change="sendGasPrice = intValue(sendGasPrice)"></v-ons-input>
            </div>
            <div class="right">Gwei</div>
          </v-ons-list-item>
          <v-ons-list-item modifier="small">
            <div class="left">ガスリミット</div>
            <div class="center">
              <v-ons-input type="number" v-model.number="runContract.gasLimit" @change="runContract.gasLimit = intValue(runContract.gasLimit)"></v-ons-input>
            </div>
          </v-ons-list-item>
          <v-ons-list-item modifier="small">
            <v-ons-input placeholder="パスワード" v-model="runContract.password" type="password"></v-ons-input>
          </v-ons-list-item>
          <v-ons-list-header>ガスがかかります。ご注意ください。</v-ons-list-header>
        </div>
        <v-ons-list-item>
          <v-ons-button @click="runMethod" modifier="large">{{loading?"実行中":"実行する"}}</v-ons-button>
        </v-ons-list-item>
        <v-ons-list-item v-show="runContract.result">
          <textarea class="textarea" style="width:100%" placeholder="JSON Interface" v-model="runContract.result"></textarea>
        </v-ons-list-item>
      </v-ons-list>
    </v-ons-list>
    
</v-ons-list>
</v-ons-dialog>

<v-ons-alert-dialog
  modifier="rowfooter"
  :visible="removingToken!==-1"
    >
    <span slot="title">トークンを消去</span>
    {{removingToken>=0?tokens[removingToken].contractAddress:""}}
    <p>コントラクトアドレスを再登録すると残高を復帰できます。トークンを消去しますか？</p>
    <template slot="footer">
      <div class="alert-dialog-button" @click="removingToken=-1">やめる</div>
      <div class="alert-dialog-button" @click="removeToken(removingToken);removingToken=-1;">続行</div>
    </template>
  </v-ons-alert-dialog>
  
  <v-ons-action-sheet :visible.sync="option" cancelable>
    <v-ons-action-sheet-button icon="fa-server" @click="option=false;serverDlg=true">サーバー変更</v-ons-action-sheet-button>
    <v-ons-action-sheet-button icon="fa-history" @click="openExplorerAccount">履歴を見る</v-ons-action-sheet-button>
    <v-ons-action-sheet-button icon="" @click="option=false;tokenReg.show=true">トークンを登録</v-ons-action-sheet-button>
    <v-ons-action-sheet-button icon="" @click="option=false;runContract.show=true">コントラクトを実行</v-ons-action-sheet-button>
    <v-ons-action-sheet-button icon="ion-close" @click="option=false">キャンセル</v-ons-action-sheet-button>
  </v-ons-action-sheet>
</v-ons-page>
