<v-ons-page data-page="first">
  <div class="wrap">
    <div class="logo">
      <div class="icon"></div>
      <div class="appName">もにゃ</div>
      <div class="label">The easiest Monacoin Wallet</div>
      <div class="buttons">
        <v-ons-button @click="start">Start!</v-ons-button>
      </div>
    </div>
  </div>
  <div id="popoverTarget"></div>
  <div id="popoverTargetAndroid"></div>
  <v-ons-popover
    cancelable
    :visible.sync="popoverVisible"
    :target="popoverTarget"
    :direction="popoverDirection"
    mask-color="rgba(0, 0, 0, 0)"
    >
    <v-ons-button modifier="large quiet">ホーム画面に追加する</v-ons-button>
  </v-ons-popover>
</v-ons-page>
