<v-ons-page data-page="help">
  <custom-bar title="ヘルプ" menu="true"></custom-bar>
  <div>
    <v-ons-list>
      <v-ons-list-item modifier="chevron tappable" @click="openLink('https://monappy.jp/memo_logs/view/miss_monacoin/2133')">使い方</v-ons-list-item>
      <v-ons-list-item  modifier="chevron tappable" @click="openLink('https://monappy.jp/memo_logs/view/miss_monacoin/2134')">暗号通貨解説リンク集</v-ons-list-item>
      <v-ons-list-item modifier="chevron tappable" @click="openLink('https://monappy.jp/memo_logs/view/miss_monacoin/2135')">用語集</v-ons-list-item>
      <v-ons-list-item modifier="chevron tappable" @click="openLink('https://twitter.com/intent/tweet?in_reply_to=955810283250831360&hashtags=%E5%9B%B0%E3%81%A3%E3%81%9F%E3%82%82%E3%81%AB%E3%82%83%E3%80%9C')">お困りですか？</v-ons-list-item>
      <v-ons-list-item modifier="chevron tappable" @click="openLink('https://monappy.jp/memo_logs/view/miss_monacoin/2385')">お金が欲しいです</v-ons-list-item>
      <v-ons-list-item modifier="chevron tappable" @click="mineZeny">BitZeny欲しい！</v-ons-list-item>
      
      <v-ons-list-item @click="about">このアプリについて</v-ons-list-item>
    </v-ons-list>
  </div>
</v-ons-page>
