<v-ons-page data-page="home">
  <custom-bar title="ホーム" menu="true"></custom-bar>
  <div>
    <div id="youHave">
      <div v-show="!loading">
        <div class="label">あなたが今持っているのは</div>
        <div id="balanceWrap">
          <currency-set :amount="fiatConv" :ticker="fiat" :easy="isEasy" about="true"></currency-set>
        </div>
      </div>
      <div v-show="loading" class="spinner"></div>
    </div>
    <div id="coins">
      <v-ons-list>
        
        <v-ons-list-item modifier="tappable" v-for="c in curs">
          <div class="left">
            <img :src="c.icon"/>
          </div>
          <div >
            <div class="screenName">{{c.screenName}}</div>
            <div class="price">
              <currency-set :amount="c.price" :ticker="c.coinId" :fiatTicker="fiat" :easy="isEasy"></currency-set>
            </div>
          </div>
          <div class="w_right">
            <div class="amount" :class='{unconfirmed:c.unconfirmed}'><currency-set :amount="c.balance" :ticker="c.coinId" :easy="isEasy"></currency-set></div>
            <div class="fiatConv"><currency-set :amount="c.balance*c.price" :ticker="fiat" :easy="isEasy"></currency-set></div>
          </div>
        </v-ons-list-item>
      </v-ons-list>
    </div>
  </div>
</v-ons-page>
