<v-ons-page data-page="invoice">
  <custom-bar title="請求する" menu="true">
    <v-ons-toolbar-button @click="orderDlg=true"><v-ons-icon icon="ion-ios-cart"></v-ons-icon></v-ons-toolbar-button>
  </custom-bar>
  <div>
    <div id="currencySelector">
      <v-ons-carousel swipeable overscrollable direction="horizontal" item-height="50px" item-width="50px" :index="currencyIndex">
        <v-ons-carousel-item class="currencyIcon monappy" @click="currencyIndex=-1" v-show="monappyEnabled">
          <div class="checked" v-show="currencyIndex===-1"></div>
        </v-ons-carousel-item>
        
        <v-ons-carousel-item v-for="(crc,i) in currency" class="currencyIcon" :style="{'background-image':'url('+crc.icon+')'}" @click="currencyIndex=i">
          <div class="checked" v-show="currencyIndex===i"></div>
        </v-ons-carousel-item>
      </v-ons-carousel>
    </div>
    <div id="simple">
      <div class="label" v-show="currencyIndex===-1">このQRコードを読み取ってMonappyにログインして、送金してください。指示がある場合は、「匿名で送る」チェックを外してください。</div>
      <div id="qrArea">
        <div id="qrcode">
          <img :src="qrDataUrl||''" alt="QR code" id="qrcodeImage"/>
          <div id="currentCurIcon" :style="{'background-image':'url('+currentCurIcon+')'}"></div>
        </div>
        <div class="address">{{url}}</div>
      </div>
      <v-ons-button @click="copyAddress">
        <v-ons-icon icon="fa-clipboard"></v-ons-icon>
        アドレスコピー
      </v-ons-button>
      <div v-if="isNative">
        <v-ons-button>
          <v-ons-icon icon="fa-share"></v-ons-icon>共有
        </v-ons-button>
      </div>
      <v-ons-list>
        
        <v-ons-list-item v-show="currencyIndex===-1">
          <div class="center">送金先Monappy ID</div>
          <div class="right">
            <span class="atmark">@</span><v-ons-input v-model="monappyDestination" placeholder="Monappy ID" @change="changeMonappy" @input="monappyNotExist=false;generateQR()" :class="{monappyNotExist:monappyNotExist}"></v-ons-input>
          </div>
        </v-ons-list-item>
        <v-ons-list-item v-show="currencyIndex!==-1">
          <div class="center">受信アドレスのラベル</div>
          <div class="right">
            <v-ons-select v-model="addressIndex" @change="generateQR">
              <option v-for="(l,i) in labels" :value="i">{{l}}</option>
            </v-ons-select>
          </div>
        </v-ons-list-item>
        <v-ons-list-item>
          <div class="center">請求額</div>
          <div class="right"><v-ons-input v-model="amount" placeholder="金額" @input="calcFiat"></v-ons-input><currency-set :ticker="coinType"></currency-set></div>
        </v-ons-list-item>
        <v-ons-list-item>
          <div class="center">法定通貨換算</div>
          <div class="right"><v-ons-input v-model="fiat" placeholder="換算" @input="calcCur"></v-ons-input><currency-set :ticker="fiatTicker"></currency-set></div>
        </v-ons-list-item>
        <v-ons-list-item>
          <div class="center">相手に表示する文</div>
          <div class="right"><v-ons-input v-model="message" placeholder="メッセージ" @change="generateQR"></v-ons-input></div>
        </v-ons-list-item>
        <v-ons-list-item v-show="currencyIndex!==-1">
          <div class="center">ブロックに書き込んでもらうメッセージ(対応ウォレットのみ)</div>
          <div class="right"><v-ons-input v-model="messageOpRet" placeholder="OP_RETURN" @change="generateQR"></v-ons-input></div>
        </v-ons-list-item>
        <v-ons-list-item>
          <v-ons-button modifier="large" @click="generateQR">QRコードを生成</v-ons-button>
        </v-ons-list-item>
      </v-ons-list>
    </div>
  </div>
  <v-ons-dialog cancelable
                :visible.sync="orderDlg"
                >
    <v-ons-list>
      <v-ons-list-item v-for="v in orders">
        <div class="left"><v-ons-checkbox
            :value="v.price"
            v-model="onOrder"
          >
          </v-ons-checkbox></div>
        <div class="center">{{v.name}}</div>
        <div class="right"><currency-set :amount="v.price" :ticker="ticker"></currency-set></div>
      </v-ons-list-item>
      <v-ons-list-header></v-ons-list-header>
      <v-ons-list-item>
        <div class="center">小計</div>
        <div class="right"><currency-set :amount="subtotal" ticker="jpy"></currency-set></div>
      </v-ons-list-item>
      <v-ons-list-item>
        <div class="center">税 8%</div>
        <div class="right"><currency-set :amount="tax" ticker="jpy"></currency-set></div>
      </v-ons-list-item>
      <v-ons-list-item>
        <div class="center"><v-ons-button @click="fiat=total;calcCur();orderDlg=false">確定</v-ons-button></div>
        <div class="right"><currency-set :amount="total" ticker="jpy"></currency-set></div>
      </v-ons-list-item>
    </v-ons-list>
  </v-ons-dialog>
</v-ons-page>
