<v-ons-page data-page="manageCoin">
  <custom-bar title="コインの管理">
    <v-ons-toolbar-button @click="customCoin">
      <v-ons-icon icon="ion-plus"></v-ons-icon>
    </v-ons-toolbar-button>
    <v-ons-toolbar-button @click="requirePassword=true">
      <v-ons-icon icon="ion-checkmark"></v-ons-icon>
    </v-ons-toolbar-button>
  </custom-bar>
  <v-ons-list>
    <v-ons-list-header>利用可能</v-ons-list-header>
    <v-ons-list-item class="coin" v-for="c in coins" v-if="c.usable">
      <div class="left"><img :src="c.icon"/></div>
      <div class="center">
        <div class="screenName">{{c.screenName}}</div>
        <v-ons-button modifier="quiet" @click="showInfo(c.coinId)"><v-ons-icon icon="ion-ios-information"></v-ons-icon></v-ons-button>
      </div>
      <div class="right">
        <v-ons-checkbox v-model="c.usable"></v-ons-checkbox>
      </div>
    </v-ons-list-item>
    <v-ons-list-header>無効</v-ons-list-header>
    <v-ons-list-item class="coin" v-for="c in coins" v-if="!c.usable">
      <div class="left"><img :src="c.icon"/></div>
      <div class="center">
        <div class="screenName">{{c.screenName}}</div>
        <v-ons-button modifier="quiet" @click="showInfo(c.coinId)"><v-ons-icon icon="ion-ios-information"></v-ons-icon></v-ons-button>
      </div>
      <div class="right">
        <v-ons-checkbox v-model="c.usable"></v-ons-checkbox>
      </div>
    </v-ons-list-item>
  </v-ons-list>
  <v-ons-alert-dialog
    modifier="rowfooter"
    :visible.sync="requirePassword"
    >
    <span slot="title">パスワード</span>
    <p>パスワードを入力してください。コインを削除すると、残高は失われませんが、ラベルなど、その他の情報は失われる可能性があります。</p>
    <v-ons-input placeholder="パスワード" v-model="password" type="password" :class="{shake:incorrect}"></v-ons-input>
    <template slot="footer">
      <div class="alert-dialog-button" @click="requirePassword=false">やめる</div>
      <div class="alert-dialog-button" @click="operateCoins">続行</div>
    </template>
  </v-ons-alert-dialog>

  <v-ons-modal :visible="loading">
      <p style="text-align: center">
        計算中。計算能力により時間がかかりますが終了しないでください。 
        <br><br>
        <div class="spinner"></div>
      </p>
  </v-ons-modal>
  <v-ons-dialog cancelable
                :visible.sync="infoDlg"
                >
    <v-ons-list>
      <v-ons-list-item>
        <div class="center">コインID</div>
        <div class="right">{{info.coinId}}</div>
      </v-ons-list-item>
      <v-ons-list-item>
        <div class="center">単位</div>
        <div class="right">{{info.unit}}</div>
      </v-ons-list-item>
      <v-ons-list-item @click="changeServer">
        <div class="center">APIエンドポイント</div>
        <div class="right">{{info.apiEndpoint}}</div>
      </v-ons-list-item>
      <v-ons-list-header>ブロック</v-ons-list-header>
      <v-ons-list-item v-for="b in info.blocks">
        <div class="center">{{b.height}}</div>
        <div class="right"><timestamp :timestamp="b.time"></timestamp></div>
      </v-ons-list-item>
    </v-ons-list>
  </v-ons-dialog>
</v-ons-page>
