<v-ons-page data-page="manageCoin">
  <custom-bar title="コインの管理"></custom-bar>
  <v-ons-list>
    <v-ons-list-header>利用可能</v-ons-list-header>
    <v-ons-list-item class="coin" v-for="c in usable">
      <div class="left"><img :src="c.icon"/></div>
      <div >
        <div class="screenName">{{c.screenName}}</div>
        
      </div>
      <div class="right">
        <v-ons-button modifier="quiet">
          <v-ons-icon icon="ion-trash-a"></v-ons-icon>
        </v-ons-button>
      </div>
    </v-ons-list-item>
    <v-ons-list-header>無効</v-ons-list-header>
    <v-ons-list-item class="coin" v-for="c in unusable">
      <div class="left"><img :src="c.icon"/></div>
      <div >
        <div class="screenName">{{c.screenName}}</div>
        
      </div>
      <div class="right">
         <v-ons-button modifier="quiet">
          <v-ons-icon icon="ion-plus"></v-ons-icon>
        </v-ons-button>
      </div>
    </v-ons-list-item>
  </v-ons-list>
</v-ons-page>
