<v-ons-page data-page="monaparty">
  <custom-bar title="Monaparty" menu="true">
    <v-ons-toolbar-button @click="goToMakeToken"><v-ons-icon icon="fa-plus"></v-ons-icon></v-ons-toolbar-button>
    <v-ons-toolbar-button @click="getMyAssets">
      <v-ons-icon icon="fa-refresh"></v-ons-icon>
    </v-ons-toolbar-button>
  </custom-bar>
  <div>
    <div id="wrap">
      <v-ons-select v-model="titleId">
        <option value="" v-for="(v,i) in titles" :value="i">{{v.titleName}}</option>
      </v-ons-select>
      <div id="searchBox">
        <input v-model="searchKeyword" placeholder="アドレス,トークン名" @change="searchByKeyword">
        <v-ons-button @click="searchByKeyword"><v-ons-icon icon="fa-search"></v-ons-icon></v-ons-button>
      </div>
    </div>
    <div id="tokens">
      <div v-if="!assets.length">トークンがありません。受け取るには、メニュー→受け取り→モナコインアイコン で受け取りアドレスを取得しましょう。</div>
      <div v-for="asset in assets" @click="showTokenInfo(asset.asset,true)" class="token" :style="asset.image">
        <div class="cur"><currency-set :amount="asset.normalized_quantity" :ticker="asset.asset_longname||asset.asset" :notKnown="true"></currency-set></div>
        <div class="owner" v-show="asset.owner"><v-ons-icon icon="fa-bookmark"></v-ons-icon></div>
      </div>
    </div>
  </div>
  <v-ons-modal :visible="loading">
    <p style="text-align: center">
      処理中 
      <br><br>
      <div class="spinner"></div>
    </p>
  </v-ons-modal>
</v-ons-page>
