<v-ons-page data-page="receive">
  <custom-bar title="受け取り" menu="true"></custom-bar>
  <div>
    <div id="simple">
      <div class="label">とりあえず送ってもらう</div>
      <div id="qrArea">
        <div id="qrcode">
          <img :src="qrDataUrl" alt="QR code" />
        </div>
        <div class="address">{{mainAddress||"読み込み中"}}</div>
      </div>
      <div v-if="isNative">
        <v-ons-button>
          <v-ons-icon icon="fa-clipboard"></v-ons-icon>
          アドレスコピー
        </v-ons-button>
        <v-ons-button>
          <v-ons-icon icon="fa-share"></v-ons-icon>共有
        </v-ons-button>
      </div>
      
    </div>
    <div id="addresses">
      <v-ons-list>
        <v-ons-list-header>他のアドレスで請求書をつくる</v-ons-list-header>
        <v-ons-list-item modifier="tappable chevron">Coming soon</v-ons-list-item>
      </v-ons-list>
    </div>
  </div>
</v-ons-page>
