<v-ons-page data-page="restorePassphrase">
  <custom-bar title="ウォレットの復元"></custom-bar>
  <div>
    <p>単語を入力してください。候補を絞り込めた場合、確定します。絞り込めない場合、画面下に候補が表示されます。</p>
      <v-ons-button modifier="quiet" @click="reset">
        <v-ons-icon icon="fa-erase"></v-ons-icon>
        単語をリセット
      </v-ons-button>
    <div id="wordArea">
      <div class="word" v-for="(w,i) in words" :class="{noMatch:noMatch&&i===wdLength-1}">
        <span class="deleteBtn" @click="remove(i)" v-show="i!==wdLength-1"><v-ons-icon icon="ion-close"></v-ons-icon></span>
        <span class="wd" v-if="i!==wdLength-1">{{w.word}}</span>
        <input v-if="i===wdLength-1" type="text" v-model="w.word"
               v-focus @input="input"
               @keydown.delete="removeEvt"
               @keydown.enter="insert"/>
      </div>
      
    </div>
    <div id="nextWrap">
      <v-ons-button @click="next" modifier="large" :disabled="wdLength<=12">次へ</v-ons-button>
    </div>
    <div id="suggestion"><div class="sgst" v-for="s in suggestion" @click="apply(s)">{{s}}</div></div>
    <v-ons-alert-dialog modifier="rowfooter"
                        :visible.sync="error"
                        >
      <span slot="title">Error</span>
      <p>エラーが発生しました。単語の順番、スペルが間違っていないかを確認して、もう一度お試しください。</p>
      <template slot="footer">
        <div class="alert-dialog-button" @click="error = false">やり直す</div>
      </template>
    </v-ons-alert-dialog>
  </div>
</v-ons-page>
