<v-ons-page data-page="send" v-show="!$store.state.transparency">
  <custom-bar title="送る" menu="true">
    <v-ons-toolbar-button @click="qr">
      <v-ons-icon icon="fa-qrcode"></v-ons-icon>
    </v-ons-toolbar-button>
  </custom-bar>
  <div>
    <v-ons-list>
      <v-ons-list-item modifier="small" v-show="signature&&!verifyResult">
        署名の検証に失敗しました。
      </v-ons-list-item>
      <v-ons-list-item modifier="small" v-show="signature&&verifyResult">
        署名の検証に成功しました。
      </v-ons-list-item>
      <v-ons-list-item modifier="small" v-show="messageToShow">
        <div class="center">{{messageToShow}}</div>
      </v-ons-list-item>
      <v-ons-list-header>送金先</v-ons-list-header>
      <v-ons-list-item>
        <div class="center">
          <v-ons-list-item><v-ons-input v-model="address" placeholder="送金先アドレス"></v-ons-input></v-ons-list-item>
        </div>
        <div class="right">
          <v-ons-icon icon="fa-address-card" v-show="!label"></v-ons-icon>
          <span v-show="label">{{label}}</span>
        </div>
      </v-ons-list-item>
      <v-ons-list-header>コイン種類</v-ons-list-header>
      <v-ons-list-item v-for="co in possibility">
        <div class="left">
          <v-ons-radio
            :input-id="'coinType-'+co.coinId"
            :value="co.coinId" v-model="coinType"
            ></v-ons-radio></div>
        <label class="center" :for="'coinType-'+co.coinId">
          {{co.name}}
        </label>
        <div class="right">
          <currency-set :ticker="co.coinId"></currency-set>
        </div>
      </v-ons-list-item>
      <v-ons-list-item v-show="possibility.length<=0">
        <div class="left"></div>
        <label class="center">まずは出金先アドレスを指定してください。</label>
      </v-ons-list-item>
      <v-ons-list-header>相手に送金する金額</v-ons-list-header>
      <v-ons-list-item>
        <div class="center">
          <v-ons-input v-model="amount" @input="calcFiat" placeholder="相手に送金する金額" :disabled="!address||!coinType"></v-ons-input>
        </div>
        <div class="right">
          <currency-set :ticker="coinType"></currency-set>
        </div>
      </v-ons-list-item>
      <v-ons-list-header>法定通貨換算</v-ons-list-header>
      <v-ons-list-item>
        <div class="center">
          <v-ons-input v-model="fiat" @input="calcCur" placeholder="日本円" :disabled="!address||!coinType"></v-ons-input>
        </div>
        <div class="right">
          <currency-set :ticker="fiatTicker"></currency-set>
        </div>
      </v-ons-list-item>
      
      <v-ons-list-item><v-ons-button modifier="large" @click="confirm" :disabled="!address||!amount||!feePerByte">確認画面へ</v-ons-button></v-ons-list-item>
      
      <v-ons-list-item v-show="!advanced" @click="advanced=true">
        <div class="left"><v-ons-icon icon="fa-caret-down"></v-ons-icon></div>
        <div class="center">詳細オプション</div>
      </v-ons-list-item>
      
      <div v-show="advanced">
        <v-ons-list-header>取引の説明(任意)</v-ons-list-header>
        <v-ons-list-item>
          <div class="center">
            <v-ons-input v-model="txLabel" placeholder="履歴で確認できます。"></v-ons-input>
          </div>
          <div class="right">
            <v-ons-icon icon="ion-ios-list-outline"></v-ons-icon>
          </div>
        </v-ons-list-item>
        <v-ons-list-header>送金手数料(sat/Byte) 少なすぎると危ないよ！</v-ons-list-header>
        <v-ons-list-item>
          <div class="center">
            <v-ons-input type="number" v-model="feePerByte" placeholder="送金手数料(satoshi/Byte)" :disabled="!address||!coinType"></v-ons-input>
          </div>
          <div class="right">
            <currency-set ticker="satByte"></currency-set>
          </div>
        </v-ons-list-item>
        <v-ons-list-header>相手に送るメッセージ(任意)</v-ons-list-header>
        <v-ons-list-item>
          <div class="center">
            <v-ons-input v-model="message" placeholder="40Byteまで"></v-ons-input>
          </div>
          <div class="right">
            {{remainingBytes}}
          </div>
        </v-ons-list-item>
      </div>
    </v-ons-list>
    
  </div>
</v-ons-page>
