<v-ons-page data-page="setPassword">
  <custom-bar title="パスワード設定"></custom-bar>
  <div class="wrap">
    <ul>
      <li>パスワードを設定します。</li>
      <li>6文字以上</li>
      <li>秘密鍵を保護するために使用されます。</li>
      <li>他人に知れ渡ると、勝手にアプリケーションを利用される可能性があります。</li>
    </ul>
    <v-ons-list>
      <v-ons-list-item v-show="error">エラーが発生しました。再度お試し下さい。エラー内容:{{error}}</v-ons-list-item>
      <div v-show="change">
        <v-ons-list-header>現在のパスワード</v-ons-list-header>
        <v-ons-list-item><v-ons-input type="password" v-model="currentPassword" placeholder="現在のパスワード"></v-ons-input></v-ons-list-item>
      </div>
      <div v-show="passwordType==='password'">
        <v-ons-list-header>パスワード</v-ons-list-header>
        <v-ons-list-item>
          <v-ons-input placeholder="パスワード" v-model="password" type="password"></v-ons-input>
        </v-ons-list-item>
        <v-ons-list-item v-show="password">
          <div class="center"><v-ons-progress-bar :value="passwordScore*25" :mode="meterColor"></v-ons-progress-bar></div>
          <div class="right" v-if="passwordScore===0">とても簡単</div>
          <div class="right" v-else-if="passwordScore===1">簡単</div>
          <div class="right" v-else-if="passwordScore===2">やや推測できる</div>
          <div class="right" v-else-if="passwordScore===3">推測しづらい</div>
          <div class="right" v-else>おそらく安全</div>
        </v-ons-list-item>
        <v-ons-list-item>
          <v-ons-input placeholder="もう一度入力" v-model="password2" type="password"></v-ons-input>
        </v-ons-list-item>
        <v-ons-list-item v-show="biometricAvailable">
          <div class="left"><v-ons-icon icon="ion-qr-scanner"></v-ons-icon></div>
          <div class="center">指紋認証を使う</div>
          <div class="right">
            <v-ons-switch v-model="biometric"></v-ons-switch>
          </div>
        </v-ons-list-item>
        <v-ons-list-item v-show="change">
          <div class="left"><v-ons-icon icon="fa-lock"></v-ons-icon></div>
          <div class="center">アプリ全体を暗号化する</div>
          <div class="right">
            <v-ons-switch v-model="encrypt" :disabled="encrypted"></v-ons-switch>
          </div>
        </v-ons-list-item>
        <v-ons-list-item>
          <v-ons-button @click="next" modifier="large" :disabled="!password||password!==password2||password.length<6">続行</v-ons-button>
        </v-ons-list-item>
      </div>
      
      
    </v-ons-list>
  </div>
</v-ons-page>
