<v-ons-page data-page="setPassword">
  <custom-bar title="パスワード設定"></custom-bar>
  <div class="wrap">
    <ul>
      <li>パスワードを設定します。</li>
      <li>6文字以上</li>
      <li>秘密鍵を保護するために使用されます。</li>
      <li>他人に知れ渡ると、勝手にアプリケーションを利用される可能性があります。</li>
    </ul>
    <v-ons-list>
      <v-ons-list-item v-show="error">エラーが発生しました。再度お試し下さい。エラー内容:{{error}}</v-ons-list-item>
      <div v-show="change">
        <v-ons-list-header>現在のパスワード</v-ons-list-header>
        <v-ons-list-item><v-ons-input type="password" v-model="currentPassword" placeholder="現在のパスワード"></v-ons-input></v-ons-list-item>
      </div>
      <v-ons-list-header>パスワードの種類</v-ons-list-header>
      
      <v-ons-list-item>
        <label class="left">
          <v-ons-radio input-id="password" v-model="passwordType" value="password"></v-ons-radio>
        </label>
        <label class="center" for="password">半角英数字のパスワード</label>
      </v-ons-list-item>
      <div v-show="passwordType==='password'">
        <v-ons-list-header>パスワード</v-ons-list-header>
        <v-ons-list-item>
          <v-ons-input placeholder="Password" v-model="password" type="password"></v-ons-input>
        </v-ons-list-item>
        <v-ons-list-item>
          <v-ons-input placeholder="Retype Password" v-model="password2" type="password"></v-ons-input>
        </v-ons-list-item>
        <v-ons-list-item>
          <v-ons-button @click="next" modifier="large" :disabled="!password||password!==password2||password.length<6">続行</v-ons-button>
        </v-ons-list-item>
      </div>
      <div v-show="passwordType==='pin'">
        <v-ons-list>
          <v-ons-list-header>PINコード</v-ons-list-header>
          <v-ons-list>Coming soon...</v-ons-list>
        </v-ons-list>
      </div>
      
    </v-ons-list>
  </div>
</v-ons-page>
