<v-ons-page data-page="settings">
  <custom-bar title="設定" menu="true"></custom-bar>
  <div>
    <v-ons-list>
      <v-ons-list-item modifier="tappable chevron" @click="goToSign"><div class="center">署名と検証</div></v-ons-list-item>
      <v-ons-list-item modifier="tappable chevron" @click="goToManageCoin"><div class="center">コインの管理</div></v-ons-list-item>
      <v-ons-list-item modifier="tappable chevron" @click="goToShowPassphrase"><div class="center">パスフレーズの表示</div></v-ons-list-item>
      <v-ons-list-item modifier="tappable chevron" @click="goToSetPassword"><div class="center">パスワードを変更</div></v-ons-list-item>
      <v-ons-list-item modifier="tappable chevron" @click="resetDialog=true"><div class="center">全データ消去</div></v-ons-list-item>

      <v-ons-list-header>お金</v-ons-list-header>
      <v-ons-list-item>
        <div class="center">未承認のUTXOも使用する(遅くなります)</div>
        <div class="right">
          <v-ons-switch @change="save" v-model="d.includeUnconfirmedFunds"></v-ons-switch>
        </div>
      </v-ons-list-item>
      <v-ons-list-item>
        <div class="center">法定通貨</div>
        <div class="right">
          <v-ons-select v-model="d.fiat" @change="save">
            <option value="jpy">日本円</option>
          </v-ons-select>
        </div>
      </v-ons-list-item>
      <v-ons-list-header>表示</v-ons-list-header>
      <v-ons-list-item>
        <div class="center">簡単な単位の表示にする</div>
        <div class="right">
          <v-ons-switch @change="save" v-model="d.useEasyUnit"></v-ons-switch>
        </div>
      </v-ons-list-item>
      <v-ons-list-item>
        <div class="center">必ず絶対時間で表示する</div>
        <div class="right">
          <v-ons-switch @change="save" v-model="d.absoluteTime"></v-ons-switch>
        </div>
      </v-ons-list-item>
      <v-ons-list-item>
        <div class="center">決済音を鳴らす</div>
        <div class="right">
          <v-ons-switch @change="save" v-model="d.paySound"></v-ons-switch>
        </div>
      </v-ons-list-item>
      <v-ons-list-item v-show="isWebView">
        <div class="center">アプリ内ブラウザを使う</div>
        <div class="right">
          <v-ons-switch @change="save" v-model="d.openInAppBrowser"></v-ons-switch>
        </div>
      </v-ons-list-item>
      <v-ons-list-header>Zaif Payment</v-ons-list-header>
      <v-ons-list-item><div class="center">Zaif Paymentメニュー</div>
        <div class="right">
          <v-ons-switch @change="save" v-model="d.zaifPay.enabled"></v-ons-switch>
        </div>
      </v-ons-list-item>
      <div v-show="d.zaifPay.enabled">
      <v-ons-list-item><div class="center">API Key</div>
        <div class="right">
          <v-ons-input placeholder="Type here" @change="save" v-model="d.zaifPay.apiKey"></v-ons-input>
        </div>
      </v-ons-list-item>
      <v-ons-list-item><div class="center">Secret Key</div>
        <div class="right">
          <v-ons-input placeholder="Raw Secret Key" @change="save" v-model="d.zaifPay.secret"></v-ons-input>
        </div>
      </v-ons-list-item>
      </div>
      <v-ons-list-header>Monappy</v-ons-list-header>
      <v-ons-list-item>
        <div class="center">Monappyメニュー</div>
        <div class="right"><v-ons-switch v-model="d.monappy.enabled" @change="save"></v-ons-switch></div>
      </v-ons-list-item>
      <div v-show="d.monappy.enabled">
        <v-ons-list-item>
          <div class="center">あなたのMonappy ID</div>
          <div class="right"><span class="atmark">@</span><v-ons-input v-model="d.monappy.myUserId" placeholder="Monappy Id" @change="save"></v-ons-input></div>
        </v-ons-list-item>
        
      </div>
      <v-ons-list-header>Monaparty</v-ons-list-header>
      <v-ons-list-item>
        <div class="center">Monapartyメニュー</div>
        <div class="right"><v-ons-switch v-model="d.monaparty.enabled" @change="save"></v-ons-switch></div>
      </v-ons-list-item>
      <div v-show="d.monaparty.enabled">
        <v-ons-list-item>
          <div class="center">背景</div>
          <div class="right">
            <v-ons-select v-model="d.monaparty.bgClass" @change="save">
              <option value="sand">砂</option>
              <option value="washi">和紙</option>
              <option value="realmona">リアルモナコインちゃん</option>
          </v-ons-select>
          </div>
        </v-ons-list-item>
        <v-ons-list-item>
          <div class="center">タイトル</div>
          <div class="right">
            <v-ons-select v-model="d.monaparty.title" @change="save">
              <option v-for="(v,i) in monapartyTitleList" :value="i">{{v.name}}</option>
          </v-ons-select>
          </div>
        </v-ons-list-item>
      </div>
    </v-ons-list>
  </div>
  <v-ons-alert-dialog modifier="rowfooter"
      :visible.sync="resetDialog"
    >
      <span slot="title">全データ消去</span>
      <p>パスフレーズをバックアップしましたか？残高を取り戻せなくなります。よろしいですか？</p>
      <template slot="footer">
        <div class="alert-dialog-button" @click="resetDialog = false">やめる</div>
        <div class="alert-dialog-button" @click="reset">承知しました</div>
      </template>
    </v-ons-alert-dialog>
</v-ons-page>
