<v-ons-page data-page="sweep">
  <custom-bar title="既存ウォレットからの吸出し">
  </custom-bar>
  <div>
    <div id="currencySelector">
      <v-ons-carousel swipeable overscrollable centered direction="horizontal" item-height="50px" item-width="50px" :index="currencyIndex">
        <v-ons-carousel-item v-for="(crc,i) in currency" class="currencyIcon" :style="{'background-image':'url('+crc.icon+')'}" @click="currencyIndex=i">
          <div class="checked" v-show="currencyIndex==i"></div>
        </v-ons-carousel-item>
      </v-ons-carousel>
    </div>
    <v-ons-list>
      <template v-for="(item, idx) in queries">
        <v-ons-list-item :modifier="getElementModifier(idx,0)">
          <div class="center"><v-ons-input placeholder="秘密鍵 WIF" v-model="item.private"></v-ons-input></div>
          <div class="right">
            <v-ons-button v-show="queries.length&gt;1" @click="removePrivate(idx)" modifier="quiet"><v-ons-icon icon="ion-close"></v-ons-icon></v-ons-button>
          </div>
        </v-ons-list-item>
        <v-ons-list-item :modifier="getElementModifier(idx,1)" v-show="details">
          <div class="right">Loose<v-ons-switch v-model="item.loose"></v-ons-switch></div>
        </v-ons-list-item>
        <v-ons-list-item :modifier="getElementModifier(idx,2)" v-show="wifAddr(idx)" style="font-size:0.7em;color:#aaa;text-select:text">{{wifAddr(idx)}}</v-ons-list-item>
      </template>
      <v-ons-list-item>
        <div class="left" @click="addPrivate()"><v-ons-icon icon="ion-plus"></v-ons-icon></div>
        <div class="center" @click="addPrivate()">追加</div>
        <div class="right">
          Details<v-ons-switch v-model="details"></v-ons-switch>
        </div>
      </v-ons-list-item>
      
      <v-ons-list-item>
        <div class="center">
          <v-ons-input placeholder="吸い出し先アドレス" v-model="address"></v-ons-input>
        </div>
        <div class="right">
          <v-ons-button modifier="quiet" @click="getDefaultAddress">Defaultを指定</v-ons-button>
        </div>
      </v-ons-list-item>
      <v-ons-list-item>
        <div class="center">手数料</div>
        <div class="right"><v-ons-input placeholder="手数料" v-model="feeRate"></v-ons-input> sat/B</div>
      </v-ons-list-item>
      <v-ons-list-item><v-ons-button @click="send" modifier="large" :disabled="!wifAddr || !address">送信</v-ons-button></v-ons-list-item>
    </v-ons-list>
  </div>
</v-ons-page>
