<v-ons-page data-page="tokenInfo">
  <custom-bar title="トークン" menu="true"></custom-bar>
  <div>
    <div class="spinner" v-show="loading"></div>
    <div v-if="card" id="cardArea">
      <div id="card">
        <img alt="Card Image" :src="card.imageUrl"/>
      </div>
    </div>
    <v-ons-list modifier="inset">
      <v-ons-list-item v-show="!asset&&!loading">
        何もないみたいです
      </v-ons-list-item>
      <v-ons-list-item v-show="asset&&asset.asset&&sendable">
        <v-ons-button @click="sendToken" modifier="large">これを送る</v-ons-button>
      </v-ons-list-item>
      <div v-if="card">
        <v-ons-list-header>カードの詳細</v-ons-list-header>
        <v-ons-list-item>
          <div class="center">カード名</div>
          <div class="right">{{card.cardName}}</div>
        </v-ons-list-item>
        <v-ons-list-item>
          <div class="center">作者名</div>
          <div class="right">{{card.ownerName}}</div>
        </v-ons-list-item>
        <v-ons-list-item>
          <div class="center">作者Twitterアカウント名</div>
          <div class="right">{{card.twitterScreenName}}</div>
        </v-ons-list-item>
        <v-ons-list-item>
          <div class="center">説明文</div>
          <div class="right">{{card.description}}</div>
        </v-ons-list-item>
        <v-ons-list-item>
          <div class="center">画像URL</div>
          <div class="right">{{card.imageUrl}}</div>
        </v-ons-list-item>
      </div>
      <div v-if="asset&&asset.asset">
        <v-ons-list-header>トークン情報</v-ons-list-header>
        <v-ons-list-item>
          <div class="center">トークン名</div>
          <div class="right">{{asset.asset_longname||asset.asset}}</div>
        </v-ons-list-item>
        <v-ons-list-item>
          <div class="center">流通総量</div>
          <div class="right">{{asset.supply}}</div>
        </v-ons-list-item>
        <v-ons-list-item>
          <div class="center">説明文</div>
          <div class="right">{{asset.description}}</div>
        </v-ons-list-item>
        <v-ons-list-item>
          <div class="center">オーナーアドレス</div>
          <div class="right"><v-ons-input :value="asset.owner"></v-ons-input></div>
        </v-ons-list-item>
        <v-ons-list-item>
          <div class="center">発行者アドレス</div>
          <div class="right"><v-ons-input :value="asset.issuer"></v-ons-input></div>
        </v-ons-list-item>
        <v-ons-list-item>
          <div class="center">小数点分割</div>
          <div class="right">{{asset.divisible?"可能":"不可能"}}</div>
        </v-ons-list-item>
        <v-ons-list-item>
          <div class="center">ロック</div>
          <div class="right">{{asset.locked?"されている":"されていない"}}</div>
        </v-ons-list-item>
      </div>
      <div v-if="history.length">
        <v-ons-list-header>履歴</v-ons-list-header>
        <v-ons-list-item v-for="h in history">
          <div v-if="h.type==='created'">{{h.owner}}が作成</div>
          <div v-if="h.type==='transferred'">{{h.prev_owner}}から{{h.new_owner}}へ所有者移転</div>
          <div v-if="h.type==='changed_description'">{{h.prev_description}}から説明文を変更</div>
          <div v-if="h.type==='issued_more'">{{h.additional_normalized}}枚を追加発行</div>
          <div v-if="h.type==='locked'">ロックされた</div>

          <div class="right">{{h.at_block}}</div>
          
        </v-ons-list-item>
      </div>
    </v-ons-list>
  </div>
</v-ons-page>
