<v-ons-page data-page="xrp">

  <div>
    <h1>20</h1><h2>XRP</h2>
    <div id="simple">
      <div id="qrArea">
        <div id="qrcode">
          <img :src="qrDataUrl" alt="QR code" id="qrcodeImage"/>
          <div id="currentCurIcon" :style="{'background-image':'url('+currentCurIcon+')'}"></div>
        </div>
        <div class="address">{{mainAddress||"読み込み中"}}</div>
      </div>
      <v-ons-button @click="copyAddress" modifier="quiet">
        <v-ons-icon icon="fa-clipboard"></v-ons-icon>
        アドレスコピー
      </v-ons-button>
      <v-ons-button @click="share" modifier="quiet" v-if="shareable">
        <v-ons-icon icon="fa-share-square-o"></v-ons-icon>共有
      </v-ons-button>
      
    </div>
    
  </div>
  
</v-ons-page>
